body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

.blind {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.detail_contant_wrap {
	width: 1180px;
	margin: 0 auto;
}

.data_list {
	font-size: 14px;
	line-height: 22px;
	color: #666;
	letter-spacing: -0.14px;
}

.data_list.center li {
	padding-left: 0;
}

.data_list.center li::before {
	position: relative;
	padding-right: 1px;
	top: 3px;
}

.data_list li {
	position: relative;
	padding-left: 11px;
}

.data_list li::before {
	content: '*';
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 0;
	line-height: 19px;
}

.num-list {
	color: #808080;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.28px;
}

.num-list li {
	position: relative;
	padding-left: 22px;
}

.num-list li .num {
	position: absolute;
	left: 7px;
}

.hgroup {
	text-align: center;
	padding: 120px 0 40px;
}

.hgroup.type01 {
	color: #fff;
}

.hgroup h2 {
	font-size: 52px;
	font-weight: 700;
	letter-spacing: -0.9px;
	line-height: 71px;
	color: #000;
}

.hgroup h2 span {
	color: #BE826A;
	font-weight: 700;
	letter-spacing: -0.9px;
}

.hgroup p {
	margin-top: 16px;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.34px;
	color: #000;
}

.hgroup .info {
	margin-top: 8px;
	color: #666;
	line-height: 22px;
	letter-spacing: -0.14px;
}

.table_wrap {
	width: 1024px;
	margin: 0 auto;
}

.table_wrap .data_list {
	margin-top: 20px;
}

.table_wrap .data_table {
	table-layout: fixed;
	width: 100%;
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.table_wrap .data_table caption {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
}

.table_wrap .data_table th, .table_wrap .data_table td {
	height: 43px;
	padding: 7px 16px;
	font-weight: 400;
	line-height: 27px;
	/* 168.75% */
	letter-spacing: -0.32px;
	border: 1px solid #EEEEEE;
	font-size: 16px;
	box-sizing: border-box;
}

.table_wrap .data_table th.left_text, .table_wrap .data_table td.left_text {
	text-align: left !important;
}

.table_wrap .data_table th.right_text, .table_wrap .data_table td.right_text {
	text-align: right !important;
}

.table_wrap .data_table th.center_text, .table_wrap .data_table td.center_text {
	text-align: center !important;
}

.table_wrap .data_table th.top, .table_wrap .data_table td.top {
	vertical-align: top !important;
}

.table_wrap .data_table th {
	color: #333333;
	box-sizing: border-box;
	background-color: #FAF9F7;
	text-align: center;
}

.table_wrap .data_table td {
	background-color: #fff;
	color: #4D4D4D;
	padding: 7px 20px;
}

.table_wrap .data_table td ul {
	display: flex;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	/* 168.75% */
	letter-spacing: -0.32px;
}

.table_wrap .data_table td ul li + li {
	margin-left: 40px;
}

.video-wrap {
	position: relative;
	margin: 0 auto;
}

.video-wrap .video {
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.video-wrap .video video {
	width: 100%;
}

.video-wrap .video-btn {
	position: absolute;
	bottom: 33px;
	right: 46px;
}

.video-wrap .video-btn span {
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

body {
	font-family: "Roboto","Noto Sans KR",Malgun Gothic,Dotum,Gulim,sans-serif;
}

.eqm_wrap .container {
	padding-bottom: 150px;
}

.eqm_wrap .brand_story {
	height: 1491px;
	background: url("../images/2023product/eqm_brand_bg.png") 0 0 no-repeat;
}

.eqm_wrap .brand_story .story_text {
	padding-top: 100px;
	text-align: center;
}

.eqm_wrap .brand_story .story_text .text {
	font-size: 28px;
	line-height: 38px;
	color: #333333;
	letter-spacing: -0.252px;
	font-weight: 300;
}

.eqm_wrap .brand_story .story_text .text_01 {
	color: #000;
}

.eqm_wrap .brand_story .story_text .text_02 {
	margin-top: 44px;
}

.eqm_wrap .brand_story .story_text .text_03 {
	margin-top: 32px;
}

.eqm_wrap .brand_story .story_text .text strong {
	font-weight: 700;
}

.eqm_wrap .brand_story .story_text .logo {
	margin-top: 70px;
}

.eqm_wrap .brand_story .story_text .logo_title {
	display: block;
	color: #666;
	font-size: 22px;
}

.eqm_wrap .brand_story .story_text .logo_img {
	display: block;
	width: 211px;
	height: 20px;
	margin: 16px auto 0;
	background: url("../images/2023product/navien_mate_logo.svg") 0 0 no-repeat;
}

.eqm_wrap .brand_story .story_content {
	width: 1024px;
	height: 736px;
	margin: 93px auto 83px;
	padding: 56px 56px 53px;
	border-radius: 12px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.6);
}

.eqm_wrap .brand_story .story_content .title {
	font-size: 28px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: -0.252px;
	text-align: center;
}

.eqm_wrap .brand_story .story_content .text {
	margin-top: 12px;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	line-height: 25px;
	letter-spacing: -0.153px;
}

.eqm_wrap .brand_story .story_content .text strong {
	font-weight: 700;
}

.eqm_wrap .brand_story .story_content .legend {
	margin-top: 28px;
}

.eqm_wrap .brand_story .story_content .legend ul {
	display: flex;
	gap: 24px;
	justify-content: flex-end;
}

.eqm_wrap .brand_story .story_content .legend ul li {
	display: flex;
	color: #999999;
	align-items: center;
	gap: 6px;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.9px;
}

.eqm_wrap .brand_story .story_content .legend ul li .chip {
	display: block;
	width: 14px;
	height: 14px;
}

.eqm_wrap .brand_story .story_content .item_list {
	display: flex;
	gap: 30px;
	margin-top: 19px;
}

.eqm_wrap .brand_story .story_content .item_list li {
	width: 206px;
}

.eqm_wrap .brand_story .story_content .item_list li .info {
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}

.eqm_wrap .brand_story .story_content .item_list li .info .title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 80px;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	color: #fff;
	background-color: #BE826A;
}

.eqm_wrap .brand_story .story_content .item_list li .info p {
	height: 65px;
	padding-top: 9px;
	text-align: center;
	line-height: 21px;
	font-size: 18px;
	color: #BE826A;
	box-sizing: border-box;
}

.eqm_wrap .brand_story .story_content .item_list li .info p strong {
	font-weight: 700;
}

.eqm_wrap .brand_story .story_content .item_list li .info p span {
	font-size: 16px;
	font-weight: 500;
}

.eqm_wrap .brand_story .story_content .item_list li .info p .small {
	font-size: 14px;
	font-weight: 400;
}

.eqm_wrap .brand_story .story_content .item_list li .chart {
	margin-top: 18px;
}

.eqm_wrap .brand_story .story_content .data_list {
	margin-top: 40px;
}

.eqm_wrap .brand_intro .visual {
	position: relative;
	height: 800px;
	background: url("../images/2023product/eqm_thumb_01.png") 0 0 no-repeat;
}

.eqm_wrap .brand_intro .visual h2 {
	padding-top: 180px;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: -0.9px;
	text-align: center;
	color: #fff;
	font-weight: 300;
}

.eqm_wrap .brand_intro .visual h2 span {
	display: block;
	font-weight: 300;
	line-height: 48px;
}

.eqm_wrap .brand_intro .visual h2 strong {
	display: block;
	font-size: 60px;
	line-height: 89px;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: -0.9px;
}

.eqm_wrap .brand_intro .visual h2 .product_name {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	font-size: 32px;
	line-height: 48px;
	/* 150% */
	letter-spacing: -0.9px;
}

.eqm_wrap .brand_intro .visual .year {
	position: absolute;
	right: 60px;
	bottom: 42px;
	width: 100px;
	height: 100px;
	background: url("../images/2023product/year3_01.svg") 0 0 no-repeat;
}

.eqm_wrap .brand_intro .item_wrap {
	height: 278px;
	background-color: #F1EAE6;
}

.eqm_wrap .brand_intro .item_wrap ul {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 30px 0;
	text-align: center;
}

.eqm_wrap .brand_intro .item_wrap li {
	width: 280px;
	padding-top: 94px;
	background: url("../images/2023product/ico_eqm_01.svg") center top/72px no-repeat;
	color: #4D4D4D;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.36px;
}

.eqm_wrap .brand_intro .item_wrap li p {
	font-size: 18px;
}

.eqm_wrap .brand_intro .item_wrap li:nth-child(1) {
	background-image: url("../images/2023product/ico_eqm_01.svg");
}

.eqm_wrap .brand_intro .item_wrap li:nth-child(2) {
	background-image: url("../images/2023product/ico_eqm_02.svg");
}

.eqm_wrap .brand_intro .item_wrap li:nth-child(3) {
	background-image: url("../images/2023product/ico_eqm_03.svg");
}

.eqm_wrap .brand_intro .item_wrap li:nth-child(4) {
	background-image: url("../images/2023product/ico_eqm_04.svg");
}

.eqm_wrap .brand_intro .item_wrap li strong {
	display: block;
	padding-top: 4px;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	/* 136.364% */
	letter-spacing: -0.9px;
	color: #333;
}

.eqm_wrap .warm_water {
	height: 1611px;
	background: url("../images/2023product/eqm_thumb_02.png") 0 0 no-repeat;
	color: #fff;
}

.eqm_wrap .warm_water .hgroup {
	padding-top: 80px;
}

.eqm_wrap .warm_water .hgroup h2 {
	color: #F1EAE6;
}

.eqm_wrap .warm_water .hgroup h2 span {
	color: #F1EAE6;
}

.eqm_wrap .warm_water .cont_wrap {
	width: 1024px;
	height: 1287px;
	padding: 60px 62px 0;
	margin: 0 auto;
	border-radius: 12px;
	background: rgba(35, 21, 13, 0.7);
	box-sizing: border-box;
}

.eqm_wrap .warm_water .cont_wrap .title_area {
	text-align: center;
	color: #fff;
}

.eqm_wrap .warm_water .cont_wrap .title_area h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: -0.9px;
}

.eqm_wrap .warm_water .cont_wrap .title_area p {
	margin-top: 16px;
	font-size: 17px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.34px;
	font-family: 'Pretendard';
}

.eqm_wrap .warm_water .cont_wrap .title_area p strong {
	display: block;
	font-size: 22px;
	margin-bottom: 2px;
}

.eqm_wrap .warm_water .cont_wrap .video-wrap {
	margin-top: 40px;
}

.eqm_wrap .warm_water .cont_wrap .video-wrap .video {
	border-radius: 12px;
	width: 900px;
	height: 418px;
}

.eqm_wrap .warm_water .cont_wrap .video-wrap .video video {
	margin-top: -20px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap {
	width: 900px;
	height: 418px;
	border-radius: 12px;
	margin-top: 40px;
	padding-top: 40px;
	background: rgba(97, 92, 90, 0.3);
	text-align: center;
	box-sizing: border-box;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .message {
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: -0.9px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area {
	display: flex;
	margin-top: 40px;
	gap: 60px;
	align-items: center;
	justify-content: center;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont {
	width: 320px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont .title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-weight: 500;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont i {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont i.air {
	background: url("../images/2023product/ico_air.svg") 0 0/24px no-repeat;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont i.humidity {
	background: url("../images/2023product/ico_humidity.svg") 0 0/24px no-repeat;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont .legend {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.9px;
	gap: 24px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont .legend li {
	position: relative;
	padding-left: 20px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .cart-area .cart-cont .legend .chip {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 12px;
}

.eqm_wrap .warm_water .cont_wrap .chart-wrap .text {
	margin-top: 32px;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.9px;
}

.eqm_wrap .warm_water .cont_wrap .data_list {
	margin-top: 20px;
	color: #8A8A8A;
}

.eqm_wrap .dual_wrap {
	text-align: center;
}

.eqm_wrap .dual_wrap .item_wrap {
	width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.eqm_wrap .dual_wrap .item_wrap .item_cont + .item_cont {
	margin-left: 32px;
}

.eqm_wrap .dual_wrap .item_wrap .item_cont .thumb {
	border-radius: 12px;
	overflow: hidden;
}

.eqm_wrap .dual_wrap .item_wrap .item_cont .text {
	margin-top: 40px;
	margin-bottom: 30px;
}

.eqm_wrap .dual_wrap .item_wrap .item_cont .text span {
	display: block;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.02em;
}

.eqm_wrap .dual_wrap .item_wrap .item_cont .text strong {
	display: block;
	margin-top: 8px;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.02em;
}

.eqm_wrap .dual_wrap .item_wrap .video-wrap {
	width: 800px;
}

.eqm_wrap .dual_wrap .item_wrap .video-wrap .video {
	border-radius: 12px;
}

.eqm_wrap .custom_system {
	text-align: center;
	background: #F8F4F2;
}

.eqm_wrap .custom_system .section_inner {
	padding: 0 78px 80px;
	margin-top: 120px;
}

.eqm_wrap .custom_system .hgroup {
	padding-top: 80px;
}

.eqm_wrap .custom_system .hgroup h2 {
	font-size: 52px;
	font-weight: 700;
	letter-spacing: -0.9px;
	line-height: 71px;
}

.eqm_wrap .custom_system .hgroup h2 span {
	color: #BE826A;
}

.eqm_wrap .custom_system .hgroup p {
	margin-top: 16px;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.34px;
}

.eqm_wrap .custom_system .item_wrap {
	display: flex;
	gap: 32px;
}

.eqm_wrap .custom_system .item_wrap .thumb {
	border-radius: 12px;
	overflow: hidden;
}

.eqm_wrap .custom_system .item_wrap .info {
	margin-top: 30px;
}

.eqm_wrap .custom_system .item_wrap .info .title {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.02em;
}

.eqm_wrap .custom_system .item_wrap .info p {
	font-family: 'Pretendard',sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.02em;
	margin-top: 8px;
}

.eqm_wrap .custom_system .item_wrap .info .data_list {
	margin-top: 20px;
	color: #666;
}

.eqm_wrap .sleep_system .section_inner {
	padding: 0 0 120px;
}

.eqm_wrap .sleep_system .section_inner .cont_wrap .cont {
	position: relative;
	padding: 80px 78px 30px;
	height: 460px;
	margin: 0 auto;
	color: #fff;
	box-sizing: border-box;
	background: url("../images/2023product/eqm_sleep_bg_01.png") 0 0 no-repeat;
}

.eqm_wrap .sleep_system .section_inner .cont_wrap .cont + .cont {
	margin-top: 40px;
	background: url("../images/2023product/eqm_sleep_bg_02.png") 0 0 no-repeat;
}

.eqm_wrap .sleep_system .section_inner .cont_wrap .cont p {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	/* 140% */
	letter-spacing: -0.4px;
}

.eqm_wrap .sleep_system .section_inner .cont_wrap .cont h3 {
	margin-top: 24px;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.64px;
}

.eqm_wrap .sleep_system .section_inner .cont_wrap .cont .data_list {
	position: absolute;
	bottom: 30px;
	color: #F1EAE6;
}

.eqm_wrap .sleep_system .section_inner .cont_wrap .cont .app {
	display: flex;
	position: absolute;
	top: 80px;
	right: 78px;
	gap: 40px;
	align-items: center;
}

.eqm_wrap .allergy_care .section_inner .hgroup {
	position: relative;
	padding-top: 80px;
	padding-bottom: 0;
}

.eqm_wrap .allergy_care .section_inner .hgroup::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 523px;
	background-color: #F8F4F2;
	z-index: -1;
}

.eqm_wrap .allergy_care .section_inner .hgroup .info {
	font-size: 14px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap {
	position: relative;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .eqm_cover {
	position: absolute;
	right: 0;
	top: -101px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap {
	padding-top: 60px;
	padding-left: 111px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont {
	display: flex;
	align-items: center;
	gap: 24px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont + .item_cont {
	margin-top: 60px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont + .item_cont .info {
	margin-top: 16px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.4px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont p {
	margin-top: 8px;
	color: #4D4D4D;
	font-family: 'Pretendard',sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.32px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont span {
	display: inline-block;
	background-color: #F3F3F3;
	border-radius: 12px;
	padding: 6px 16px;
	font-size: 14px;
	margin-top: 12px;
	color: #4D4D4D;
	letter-spacing: -0.28px;
	line-height: 22px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_cont span strong {
	font-weight: 700;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_list {
	padding-top: 128px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_list ul {
	display: flex;
	gap: 32px;
	margin-left: -33px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_list ul .thumb {
	border-radius: 12px;
	overflow: hidden;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_list ul .info {
	margin-top: 30px;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_list ul .info h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.02em;
	text-align: center;
}

.eqm_wrap .allergy_care .section_inner .cont_wrap .item_wrap .item_list ul .info p {
	text-align: center;
	color: #666;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.01em;
	text-align: center;
	margin-top: 8px;
}

.eqm_wrap .microcover_care .section_inner .hgroup .info {
	font-size: 16px;
	color: #808080;
	font-weight: 500;
	margin-top: 16px;
	line-height: 24px;
}

.eqm_wrap .microcover_care .cont_wrap {
	position: relative;
}

.eqm_wrap .microcover_care .cont_wrap .item_list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 127px 60px;
	text-align: center;
}

.eqm_wrap .microcover_care .cont_wrap .item_list li {
	width: 232px;
	padding-top: 88px;
	color: #333;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: -0.9px;
}

.eqm_wrap .microcover_care .cont_wrap .item_list li p strong {
	font-weight: 700;
}

.eqm_wrap .microcover_care .cont_wrap .item_list li:nth-child(1) {
	background: url("../images/2023product/ico_micro_01.svg") center top/72px no-repeat;
}

.eqm_wrap .microcover_care .cont_wrap .item_list li:nth-child(2) {
	background: url("../images/2023product/ico_micro_02.svg") center top/72px no-repeat;
}

.eqm_wrap .microcover_care .cont_wrap .item_list li:nth-child(3) {
	background: url("../images/2023product/ico_micro_03.svg") center top/72px no-repeat;
}

.eqm_wrap .microcover_care .cont_wrap .item_list li:nth-child(4) {
	background: url("../images/2023product/ico_micro_04.svg") center top/72px no-repeat;
}

.eqm_wrap .microcover_care .cont_wrap .eqm_cover {
	position: absolute;
	right: 0;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap {
	padding-top: 40px;
	padding-left: 81px;
	position: relative;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap .item_cont {
	position: relative;
	display: flex;
	gap: 24px;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap .item_cont::before {
	content: '';
	position: absolute;
	width: 551px;
	height: 87px;
	background: url("../images/2023product/eqm555_cover_line_01.png") 0 0 no-repeat;
	left: 160px;
	top: 80px;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap .item_cont:nth-child(2) {
	margin-top: 58px;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap .item_cont:nth-child(2)::before {
	background: url("../images/2023product/eqm555_cover_line_02.png") 0 0 no-repeat;
	top: 74px;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap .item_cont .info h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.56px;
	color: #333;
	padding-top: 26px;
}

.eqm_wrap .microcover_care .cont_wrap .item_wrap .item_cont .info p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.32px;
	color: #4D4D4D;
	margin-top: 32px;
}

.eqm_wrap .microcover_care .cont_wrap .detail_list {
	width: 1024px;
	padding-top: 120px;
}

.eqm_wrap .microcover_care .cont_wrap .detail_list h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.56px;
	text-align: center;
	margin-bottom: 40px;
}

.eqm_wrap .microcover_care .cont_wrap .detail_list ul {
	display: flex;
	gap: 32px;
	text-align: center;
}

.eqm_wrap .microcover_care .cont_wrap .detail_list ul li .info {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.9px;
	margin-top: 24px;
}

.eqm_wrap .microcover_care .cont_wrap .detail_list ul li .info span {
	font-weight: 700;
}

.eqm_wrap .slim_mat .section_inner {
	padding: 0 0 120px;
}

.eqm_wrap .slim_mat .section_inner .cont_wrap {
	width: 1024px;
	margin: 0 auto;
}

.eqm_wrap .slim_mat .section_inner .item_wrap {
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
}

.eqm_wrap .slim_mat .section_inner .item_wrap .item_cont .thumb {
	position: relative;
	text-align: center;
}

.eqm_wrap .slim_mat .section_inner .item_wrap .item_cont .thumb p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.02em;
	margin-top: 0;
}

.eqm_wrap .slim_mat .section_inner .item_wrap .item_cont p {
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}

.eqm_wrap .slim_mat .section_inner .item_wrap .item_cont:nth-child(2), .eqm_wrap .slim_mat .section_inner .item_wrap .item_cont:nth-child(3) {
	margin-top: 40px;
}

.eqm_wrap .slim_mat .section_inner .item_wrap .item_cont:nth-child(2) p, .eqm_wrap .slim_mat .section_inner .item_wrap .item_cont:nth-child(3) p {
	top: auto;
	bottom: 30px;
	transform: translate(-50%, 0);
	font-size: 22px;
	line-height: 30px;
	letter-spacing: -0.02em;
	font-weight: 400;
	width: 100%;
}

.eqm_wrap .slim_mat .section_inner .item_wrap .item_cont + .text {
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}

.eqm_wrap .cushion_mat .section_inner {
	padding: 0 0 120px;
}

.eqm_wrap .cushion_mat .section_inner .cont_wrap {
	width: 1024px;
	margin: 0 auto;
}

.eqm_wrap .cushion_mat .section_inner .item_wrap {
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
}

.eqm_wrap .cushion_mat .section_inner .item_wrap .item_cont .thumb {
	position: relative;
	text-align: left;
}

.eqm_wrap .cushion_mat .section_inner .item_wrap .item_cont p {
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 24px;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: -0.44px;
	font-weight: 400;
	width: 100%;
	color: #FFF;
	text-align: center;
}

.eqm_wrap .cushion_mat .section_inner .item_wrap .text {
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}

.eqm_wrap .water_care .section_inner {
	background: url("../images/2023product/eqm_water_care_bg.png") 0 306px no-repeat;
}

.eqm_wrap .water_care .section_inner .hgroup {
	padding: 104px 0 60px;
}

.eqm_wrap .water_care .section_inner .item_cont {
	display: flex;
	width: 1024px;
	margin: 0 auto;
	padding: 126px 0 82px;
	justify-content: space-between;
}

.eqm_wrap .water_care .section_inner .item_cont .info {
	padding-top: 93px;
}

.eqm_wrap .water_care .section_inner .item_cont .info h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
	/* 135.714% */
	letter-spacing: -0.56px;
	color: #000;
}

.eqm_wrap .water_care .section_inner .item_cont .info h3 strong {
	display: block;
	font-weight: 700;
}

.eqm_wrap .water_care .section_inner .item_cont .info p {
	padding-top: 20px;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.02em;
	color: #333;
}

.eqm_wrap .water_care .section_inner .item_cont .thumb {
	border-radius: 12px;
	width: 496px;
	height: 280px;
	overflow: hidden;
}

.eqm_wrap .water_care .section_inner .item_cont.auto {
	background-color: #F8F4F2;
	padding: 60px 64px;
	box-sizing: border-box;
	border-radius: 12px;
	margin-top: 50px;
	justify-content: flex-start;
	align-items: center;
}

.eqm_wrap .water_care .section_inner .item_cont.auto .thumb {
	width: 462px;
	height: 280px;
	border-radius: 8px;
	background-color: #fff;
}

.eqm_wrap .water_care .section_inner .item_cont.auto .info {
	padding-top: 0;
	padding-left: 80px;
}

.eqm_wrap .water_care .section_inner .item_cont.auto .label {
	display: block;
	width: 240px;
	color: #666;
	font-size: 18px;
	font-family: Pretendard;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: -0.02em;
	text-align: center;
	border-radius: 5px;
	background: rgba(209, 209, 209, 0.20);
	margin-top: 18px;
}

.eqm_wrap .water_care .section_inner .article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 30px 0 60px;
}

.eqm_wrap .water_care .section_inner .article .logo {
	width: 103px;
	height: 80px;
	line-height: 80px;
	border-radius: 8px;
	background-color: #fff;
	text-align: center;
	border: 1px solid #DBD7D3;
}

.eqm_wrap .water_care .section_inner .article ul {
	display: flex;
	flex-wrap: wrap;
	width: 946px;
}

.eqm_wrap .water_care .section_inner .article ul::after {
	content: '';
	display: block;
	clear: both;
}

.eqm_wrap .water_care .section_inner .article ul strong {
	font-weight: 700;
	color: #808080;
}

.eqm_wrap .water_care .section_inner .article ul > li {
	margin-left: 25px;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.28px;
	color: #808080;
}

.eqm_wrap .water_care .section_inner .article ul > li:last-child {
	margin-top: -44px;
}

.eqm_wrap .safety_system .item_list {
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 32px;
}

.eqm_wrap .safety_system .item_list li {
	width: 232px;
	height: 300px;
	padding-top: 32px;
	background-color: #F8F4F2;
	border-radius: 12px;
	box-sizing: border-box;
}

.eqm_wrap .safety_system .item_list strong {
	display: block;
	font-size: 20px;
	color: #333;
	font-weight: 700;
	letter-spacing: -0.4px;
	padding-top: 24px;
}

.eqm_wrap .safety_system .item_list p {
	color: #4D4D4D;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.34px;
	margin-top: 12px;
}

.eqm_wrap .safety_system .device_list {
	border-radius: 12px;
	width: 1024px;
	text-align: center;
	border: 1px solid #DCDCDC;
	margin: 40px auto 0;
	padding: 40px 0 60px;
	box-sizing: border-box;
}

.eqm_wrap .safety_system .device_list h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	/* 135.714% */
	letter-spacing: -0.56px;
}

.eqm_wrap .safety_system .device_list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
}

.eqm_wrap .safety_system .device_list ul li {
	width: 165px;
	height: 120px;
	margin-top: 30px;
}

.eqm_wrap .safety_system .device_list ul li strong {
	display: block;
	margin-top: 8px;
	color: #333;
	font-family: Pretendard;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	/* 150% */
	letter-spacing: -0.4px;
}

.eqm_wrap .safety_system .device_list .ico {
	display: block;
	width: 72px;
	height: 72px;
	margin: 0 auto;
	background: url("../images/2023product/ico_device_01.svg") 0 0/100% no-repeat;
}

.eqm_wrap .safety_system .device_list .ico.device_01 {
	background-image: url("../images/2023product/ico_device_01.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_02 {
	background-image: url("../images/2023product/ico_device_02.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_03 {
	background-image: url("../images/2023product/ico_device_03.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_04 {
	background-image: url("../images/2023product/ico_device_04.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_05 {
	background-image: url("../images/2023product/ico_device_05.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_06 {
	background-image: url("../images/2023product/ico_device_06.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_07 {
	background-image: url("../images/2023product/ico_device_07.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_08 {
	background-image: url("../images/2023product/ico_device_08.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_09 {
	background-image: url("../images/2023product/ico_device_09.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_10 {
	background-image: url("../images/2023product/ico_device_10.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_11 {
	background-image: url("../images/2023product/ico_device_11.svg");
}

.eqm_wrap .safety_system .device_list .ico.device_12 {
	background-image: url("../images/2023product/ico_device_12.svg");
}

.eqm_wrap .customer_service .cont_wrap {
	border-radius: 12px;
	background-color: #F8F4F2;
	padding: 80px 0 55px;
	width: 1024px;
	margin: 0 auto;
}

.eqm_wrap .customer_service .cont_wrap .cont_title {
	height: 120px;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 303px;
	background: url("../images/2023product/year3_02.png") 0 center no-repeat;
	padding-left: 131px;
	margin: 0 auto;
}

.eqm_wrap .customer_service .cont_wrap .cont_title strong {
	color: #333;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.56px;
	margin-top: 10px;
}

.eqm_wrap .customer_service .cont_wrap .cont_title p {
	color: #4D4D4D;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -0.36px;
	margin-top: 10px;
}

.eqm_wrap .customer_service .cont_wrap .item_list {
	display: flex;
	justify-content: center;
	text-align: center;
}

.eqm_wrap .customer_service .cont_wrap .item_list li {
	width: 200px;
}

.eqm_wrap .customer_service .cont_wrap .item_list .thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 72px;
	border-radius: 120px;
	background-color: #fff;
}

.eqm_wrap .customer_service .cont_wrap .item_list .info {
	margin-top: 18px;
}

.eqm_wrap .customer_service .cont_wrap .item_list .info strong {
	color: #333;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-top: 18px;
}

.eqm_wrap .customer_service .cont_wrap .item_list .info p {
	margin-top: 4px;
	color: #808080;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.9px;
}

.eqm_wrap .award_wrap .hgroup {
	padding: 120px 0 40px;
}

.eqm_wrap .award_wrap .cont_wrap {
	text-align: center;
}

.eqm_wrap .award_wrap .cont_wrap .item_list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	justify-content: center;
}

.eqm_wrap .award_wrap .cont_wrap .item_list li {
	width: 232px;
	height: 240px;
	padding-top: 35px;
	border-radius: 12px;
	box-sizing: border-box;
	background: #FFF;
	border: 1px solid #D9D9D9;
}

.eqm_wrap .award_wrap .cont_wrap .item_list li .thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
}

.eqm_wrap .award_wrap .cont_wrap .item_list li .thumb img {
	max-height: 75px;
}

.eqm_wrap .award_wrap .cont_wrap .item_list li h3 {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.9px;
	color: #333;
}

.eqm_wrap .award_wrap .cont_wrap .item_list li .year {
	display: block;
	color: #B3B3B3;
	margin-top: 6px;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	/* 157.143% */
	letter-spacing: -0.28px;
}

.eqm_wrap .award_wrap .cont_wrap .item_list li p {
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	/* 157.143% */
	letter-spacing: -0.28px;
}

.eqm_wrap .packages_wrap .cont_wrap {
	width: 1024px;
	margin: 0 auto;
}

.eqm_wrap .packages_wrap .item_wrap {
	margin-bottom: 20px;
}

.eqm_wrap .packages_wrap .item_list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: left;
	gap: 32px;
}

.eqm_wrap .packages_wrap .item_list li {
	position: relative;
	width: 232px;
	height: 220px;
	padding-top: 31px;
	background-color: #F8F4F2;
	border-radius: 12px;
	box-sizing: border-box;
}

.eqm_wrap .packages_wrap .item_list li .thumb {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 232px;
	height: 113px;
	margin-bottom: 23px;
}

.eqm_wrap .packages_wrap .item_list li .thumb img {
	display: block;
}

.eqm_wrap .packages_wrap .item_list li span {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.32px;
}

.eqm_wrap .packages_wrap .item_list li .tips {
	color: #DC5E2D;
	font-size: 0;
	font-style: normal;
}

.eqm_wrap .packages_wrap .item_list li .tips::before {
	display: inline-block;
	content: '*';
	font-size: 16px;
	font-weight: 500;
}

.eqm_wrap .size_wrap .item_list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	gap: 32px;
}

.eqm_wrap .size_wrap .item_list li strong {
	display: block;
	margin-top: 16px;
	color: #4D4D4D;
}

.eqm_wrap.eqm565 .brand_intro .visual {
	background: url("../images/2023product/eqm565_thumb_01.png") 0 center no-repeat;
}

.eqm_wrap.eqm565 .sleep_system .cont + .cont .app {
	right: 228px;
}

.eqm_wrap.eqm565 .slim_mat .section_inner {
	padding-bottom: 0;
}

.eqm_wrap.eqm565 .detail_wrap .data_table td .kc_logo {
	margin-top: 4px;
}

.eqm_wrap.eqm555 .brand_intro .visual {
	background: url("../images/2023product/eqm555_thumb_01.png") 0 center no-repeat;
}

.eqm_wrap.eqm555 .brand_intro .item_wrap li:nth-child(4) {
	background-image: url("../images/2023product/ico_eqm_05.svg");
}

.eqm_wrap.eqm555 .sleep_system .cont + .cont .app {
	right: 228px;
}

.eqm_wrap.eqm555 .detail_wrap .data_table td .kc_logo {
	margin-top: 4px;
}

.eqm_wrap.eqm545 .brand_intro .visual {
	background: url("../images/2023product/eqm545_thumb_01.png") 0 center no-repeat;
}

.eqm_wrap.eqm545 .brand_intro .item_wrap li:nth-child(3) {
	background-image: url("../images/2023product/ico_eqm_05.svg");
}

.eme_wrap .container {
	padding-bottom: 150px;
}

.eme_wrap .table_wrap {
	width: 1180px;
}

.eme_wrap .table_wrap th, .eme_wrap .table_wrap td {
	height: 59px;
	padding: 16px 20px;
}

.eme_wrap .table_wrap .data_table td ul li + li {
	margin-left: 10px;
}

.eme_wrap .data_list {
	letter-spacing: -0.126px;
}

.eme_wrap .brand_story {
	height: 800px;
	background: url("../images/2023product/eme_brand_bg.png") 0 0 no-repeat;
}

.eme_wrap .brand_story .story_text {
	padding-top: 140px;
	text-align: center;
}

.eme_wrap .brand_story .story_text .text {
	font-size: 28px;
	line-height: 42px;
	color: #513B2E;
	letter-spacing: -1px;
	font-weight: 400;
}

.eme_wrap .brand_story .story_text .text_02 {
	margin-top: 52px;
}

.eme_wrap .brand_story .story_text .text_03 {
	font-size: 34px;
	line-height: 51px;
	font-weight: 700;
	margin-top: 52px;
}

.eme_wrap .brand_story .story_text .text_03 span {
	position: relative;
	display: flex;
	justify-content: center;
}

.eme_wrap .brand_story .story_text .text_03 span::after {
	content: "";
	display: inline-block;
	width: 493px;
	height: 20px;
	position: absolute;
	background-color: #6D5548;
	opacity: 0.2;
	top: 27px;
}

.eme_wrap .brand_story .story_text .text_03 span + span::after {
	width: 421px;
}

.eme_wrap .brand_story .story_text .logo {
	margin-top: 116px;
}

.eme_wrap .brand_story .story_text .logo_title {
	display: block;
	color: #828181;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.4px;
	line-height: 38px;
}

.eme_wrap .brand_story .story_text .logo_img {
	display: block;
	width: 211px;
	height: 20px;
	margin: 10px auto 0;
	background: url("../images/2023product/navien_mate_logo.svg") 0 0 no-repeat;
}

.eme_wrap .brand_story .story_content {
	width: 1024px;
	height: 736px;
	margin: 93px auto 83px;
	padding: 56px 56px 53px;
	border-radius: 12px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.6);
}

.eme_wrap .brand_story .story_content .title {
	font-size: 28px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: -0.252px;
	text-align: center;
}

.eme_wrap .brand_story .story_content .text {
	margin-top: 12px;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
}

.eme_wrap .brand_story .story_content .legend {
	margin-top: 28px;
}

.eme_wrap .brand_story .story_content .legend ul {
	display: flex;
	gap: 24px;
	justify-content: flex-end;
}

.eme_wrap .brand_story .story_content .legend ul li {
	display: flex;
	color: #999999;
	align-items: center;
	gap: 6px;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.9px;
}

.eme_wrap .brand_story .story_content .legend ul li .chip {
	display: block;
	width: 14px;
	height: 14px;
}

.eme_wrap .brand_story .story_content .item_list {
	display: flex;
	gap: 30px;
	margin-top: 19px;
}

.eme_wrap .brand_story .story_content .item_list li {
	width: 206px;
}

.eme_wrap .brand_story .story_content .item_list li .info {
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}

.eme_wrap .brand_story .story_content .item_list li .info .title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 80px;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	color: #fff;
	background-color: #BE826A;
}

.eme_wrap .brand_story .story_content .item_list li .info p {
	height: 65px;
	padding-top: 9px;
	text-align: center;
	line-height: 21px;
	font-size: 18px;
	color: #BE826A;
	box-sizing: border-box;
}

.eme_wrap .brand_story .story_content .item_list li .info p strong {
	font-weight: 700;
}

.eme_wrap .brand_story .story_content .item_list li .info p span {
	font-size: 16px;
}

.eme_wrap .brand_story .story_content .item_list li .info p .small {
	font-size: 14px;
}

.eme_wrap .brand_story .story_content .item_list li .chart {
	margin-top: 18px;
}

.eme_wrap .brand_story .story_content .data_list {
	margin-top: 40px;
}

.eme_wrap .brand_intro .visual {
	position: relative;
	height: 800px;
	background: url("../images/2023product/eme_thumb_01.png") 0 0 no-repeat;
}

.eme_wrap .brand_intro .visual h2 {
	padding-top: 160px;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: -0.9px;
	text-align: center;
	color: #000;
	font-weight: 400;
}

.eme_wrap .brand_intro .visual h2 span {
	display: block;
	line-height: 48px;
}

.eme_wrap .brand_intro .visual h2 strong {
	display: block;
	font-size: 60px;
	line-height: 89px;
	font-weight: 700;
}

.eme_wrap .brand_intro .visual h2 .product_name {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	margin-top: 10px;
}

.eme_wrap .brand_intro .visual .award {
	position: absolute;
	right: 170px;
	bottom: 41px;
	width: 102px;
	height: 102px;
	background: url("../images/2023product/img_idea_2024_main_visual.png") 0 0 no-repeat;
}

.eme_wrap .brand_intro .visual .year {
	position: absolute;
	right: 60px;
	bottom: 42px;
	width: 100px;
	height: 100px;
	background: url("../images/2023product/year3_01.svg") 0 0 no-repeat;
}

.eme_wrap .brand_intro .item_wrap {
	height: 253px;
	background-color: #F5EFE7;
}

.eme_wrap .brand_intro .item_wrap ul {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 30px 0;
	text-align: center;
}

.eme_wrap .brand_intro .item_wrap li {
	width: 280px;
	padding-top: 94px;
	background: url("../images/2023product/ico_eme_01.svg") center top/72px no-repeat;
	color: #4D4D4D;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.36px;
}

.eme_wrap .brand_intro .item_wrap li p {
	font-size: 18px;
}

.eme_wrap .brand_intro .item_wrap li:nth-child(1) {
	background-image: url("../images/2023product/ico_eme_01.svg");
}

.eme_wrap .brand_intro .item_wrap li:nth-child(2) {
	background-image: url("../images/2023product/ico_eme_02.svg");
}

.eme_wrap .brand_intro .item_wrap li:nth-child(3) {
	background-image: url("../images/2023product/ico_eme_03.svg");
}

.eme_wrap .brand_intro .item_wrap li:nth-child(4) {
	background-image: url("../images/2023product/ico_eme_04.svg");
}

.eme_wrap .brand_intro .item_wrap li strong {
	display: block;
	padding-top: 4px;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	/* 136.364% */
	letter-spacing: -0.9px;
	color: #333;
}

.eme_wrap .safe_design .section_inner {
	background: url("../images/2023product/eme_safe_design_bg.png") 0 302px no-repeat;
}

.eme_wrap .safe_design .cont_wrap .item_cont {
	padding-top: 80px;
	padding-bottom: 65px;
	text-align: center;
}

.eme_wrap .safe_design .cont_wrap .item_cont .info {
	margin-bottom: 40px;
}

.eme_wrap .safe_design .cont_wrap .item_cont .info h3 {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.9px;
	margin-bottom: 16px;
	line-height: 1;
}

.eme_wrap .safe_design .cont_wrap .item_cont .info p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.9px;
}

.eme_wrap .safe_design .cont_wrap .item_cont .text {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.9px;
	margin-top: 38px;
}

.eme_wrap .safe_design .cont_wrap .article {
	background: #FAF9F7;
	padding: 40px 24px;
	display: flex;
	gap: 40px;
	letter-spacing: -0.09em;
}

.eme_wrap .safe_design .cont_wrap .article .video-wrap {
	width: 652px;
	height: 366px;
	margin: 0;
	overflow: hidden;
}

.eme_wrap .safe_design .cont_wrap .article .video-wrap .video {
	height: 100%;
	border-radius: 12px;
}

.eme_wrap .safe_design .cont_wrap .article .item_list {
	padding: 36px 0 19px;
}

.eme_wrap .safe_design .cont_wrap .article .item_list .info {
	color: #4D4D4D;
}

.eme_wrap .safe_design .cont_wrap .article .item_list .info .title {
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -0.9px;
}

.eme_wrap .safe_design .cont_wrap .article .item_list .info p {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 16px;
	letter-spacing: -0.9px;
}

.eme_wrap .safe_design .cont_wrap .article .item_list .logo {
	display: flex;
	gap: 12px;
	margin-top: 148px;
}

.eme_wrap .safe_design .cont_wrap .article .item_list .logo p {
	font-size: 14px;
	color: #666;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.9px;
}

.eme_wrap .safe_structure {
	padding-bottom: 120px;
}

.eme_wrap .safe_structure .hgroup h2 {
	font-size: 38px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.9px;
}

.eme_wrap .safe_structure .hgroup p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.9px;
}

.eme_wrap .safe_structure .data_list {
	margin-top: 20px;
}

.eme_wrap .dual_wrap {
	text-align: center;
	background: #FAF9F7;
	height: 2194px;
}

.eme_wrap .dual_wrap .item_wrap {
	width: 1180px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.eme_wrap .dual_wrap .item_wrap .item_cont .thumb {
	overflow: hidden;
}

.eme_wrap .dual_wrap .item_wrap .item_cont .data_list {
	margin-top: 20px;
	text-align: left;
}

.eme_wrap .dual_wrap .item_wrap .item_cont .info {
	padding: 30px 0 40px;
}

.eme_wrap .dual_wrap .item_wrap .item_cont .info .title {
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;
	letter-spacing: -0.56px;
}

.eme_wrap .dual_wrap .item_wrap .item_cont .info .title strong {
	font-weight: 700;
}

.eme_wrap .dual_wrap .item_wrap .item_cont .info p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.28px;
	margin-top: 10px;
	color: #666;
}

.eme_wrap .dual_wrap .item_wrap .item_cont:nth-child(1) {
	margin-bottom: 40px;
}

.eme_wrap .dual_wrap .item_wrap .item_cont:nth-child(3) {
	margin-left: 20px;
}

.eme_wrap .dual_wrap .item_wrap .item_cont:nth-child(5) {
	margin-left: 20px;
}

.eme_wrap .infrared .cont {
	position: relative;
	width: 100%;
	height: 552px;
	background: #FAF9F7 url("../images/2023product/eme_infrared_01_bg.png") 0 0 no-repeat;
}

.eme_wrap .infrared .video-wrap {
	width: 645px;
	height: 362px;
	padding-top: 70px;
}

.eme_wrap .infrared .video-wrap .video {
	height: 362px;
	border-radius: 12px;
}

.eme_wrap .infrared .video-wrap .video-btn {
	right: auto;
	left: 46px;
}

.eme_wrap .infrared .test-thumb {
	position: absolute;
	right: -108px;
	bottom: -44px;
}

.eme_wrap .sleep_system .section_inner {
	padding: 0 0 120px;
}

.eme_wrap .sleep_system .section_inner .hgroup {
	padding-bottom: 30px;
}

.eme_wrap .sleep_system .section_inner .hgroup p {
	font-size: 38px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.9px;
	margin-top: 40px;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont {
	position: relative;
	padding: 80px 60px 30px;
	height: 460px;
	margin: 0 auto;
	color: #000;
	box-sizing: border-box;
	background: url("../images/2023product/eme_sleep_bg_01.png") 0 0 no-repeat;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont + .cont {
	margin-top: 40px;
	background: url("../images/2023product/eme_sleep_bg_02.png") 0 0 no-repeat;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont p {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	/* 140% */
	letter-spacing: -0.4px;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont h3 {
	margin-top: 24px;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.64px;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont .data_list {
	position: absolute;
	bottom: 30px;
	color: #666;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont .app {
	display: flex;
	position: absolute;
	top: 80px;
	right: 78px;
	gap: 40px;
	align-items: center;
}

.eme_wrap .sleep_system .section_inner .cont_wrap .cont + .cont .app {
	right: 253px;
}

.eme_wrap .premium_mat {
	position: relative;
}

.eme_wrap .premium_mat::before {
	content: '';
	position: absolute;
	top: 0;
	background-color: #FAF9F7;
	height: 664px;
	width: 1180px;
	z-index: -99;
}

.eme_wrap .premium_mat .cont_wrap {
	display: flex;
	gap: 20px;
}

.eme_wrap .premium_mat .cont_wrap .cont {
	position: relative;
	padding: 60px 32px 36px;
	width: 580px;
	height: 600px;
	margin: 0 auto;
	color: #000;
	box-sizing: border-box;
	background: url("../images/2023product/eme_premium_thumb_01.png") 0 0 no-repeat;
}

.eme_wrap .premium_mat .cont_wrap .cont p {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.48px;
}

.eme_wrap .premium_mat .cont_wrap .cont h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.56px;
	margin-top: 24px;
}

.eme_wrap .premium_mat .cont_wrap .cont + .cont {
	background: url("../images/2023product/eme_premium_thumb_02.png") 0 0 no-repeat;
}

.eme_wrap .premium_mat .cont_wrap .cont .data_list {
	letter-spacing: -0.28px;
	margin-top: 312px;
	margin-left: 3px;
}

.eme_wrap .movement_system .item-wrap {
	display: flex;
	gap: 20px;
}

.eme_wrap .movement_system .item-wrap .title {
	margin-top: 20px;
	font-size: 22px;
	font-weight: 400;
	line-height: 30px;
	/* 136.364% */
	letter-spacing: -0.44px;
	text-align: center;
}

.eme_wrap .safety_system .item_list {
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 32px;
}

.eme_wrap .safety_system .item_list li {
	width: 232px;
	height: 300px;
	padding-top: 32px;
	background-color: #F8F4F2;
	border-radius: 12px;
	box-sizing: border-box;
}

.eme_wrap .safety_system .item_list strong {
	display: block;
	font-size: 20px;
	color: #333;
	font-weight: 700;
	letter-spacing: -0.4px;
	padding-top: 24px;
}

.eme_wrap .safety_system .item_list p {
	color: #4D4D4D;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.34px;
	margin-top: 12px;
}

.eme_wrap .safety_system .device_list {
	border-radius: 12px;
	text-align: center;
	border: 1px solid #DCDCDC;
	padding: 40px 97px 60px;
	box-sizing: border-box;
}

.eme_wrap .safety_system .device_list h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	/* 135.714% */
	letter-spacing: -0.56px;
}

.eme_wrap .safety_system .device_list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
}

.eme_wrap .safety_system .device_list ul li {
	width: 165px;
	height: 120px;
	margin-top: 30px;
}

.eme_wrap .safety_system .device_list ul li strong {
	display: block;
	margin-top: 8px;
	font-weight: 700;
	font-size: 20px;
	color: #333;
}

.eme_wrap .safety_system .device_list .ico {
	display: block;
	width: 72px;
	height: 72px;
	margin: 0 auto;
	background: url("../images/2023product/eme_ico_device_01.svg") 0 0/100% no-repeat;
}

.eme_wrap .safety_system .device_list .ico.device_01 {
	background-image: url("../images/2023product/eme_ico_device_01.svg");
}

.eme_wrap .safety_system .device_list .ico.device_02 {
	background-image: url("../images/2023product/eme_ico_device_02.svg");
}

.eme_wrap .safety_system .device_list .ico.device_03 {
	background-image: url("../images/2023product/eme_ico_device_03.svg");
}

.eme_wrap .safety_system .device_list .ico.device_04 {
	background-image: url("../images/2023product/eme_ico_device_04.svg");
}

.eme_wrap .safety_system .device_list .ico.device_05 {
	background-image: url("../images/2023product/eme_ico_device_05.svg");
}

.eme_wrap .safety_system .device_list .ico.device_06 {
	background-image: url("../images/2023product/eme_ico_device_06.svg");
}

.eme_wrap .safety_system .device_list .ico.device_07 {
	background-image: url("../images/2023product/eme_ico_device_07.svg");
}

.eme_wrap .safety_system .device_list .ico.device_08 {
	background-image: url("../images/2023product/eme_ico_device_08.svg");
}

.eme_wrap .safety_system .device_list .ico.device_09 {
	background-image: url("../images/2023product/eme_ico_device_09.svg");
}

.eme_wrap .safety_system .device_list .ico.device_10 {
	background-image: url("../images/2023product/eme_ico_device_10.svg");
}

.eme_wrap .customer_service .cont_wrap {
	border-radius: 12px;
	background-color: #F8F4F2;
	padding: 80px 0 55px;
	margin: 0 auto;
}

.eme_wrap .customer_service .cont_wrap .cont_title {
	height: 120px;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 303px;
	background: url("../images/2023product/year3_02.png") 0 center no-repeat;
	padding-left: 131px;
	margin: 0 auto;
}

.eme_wrap .customer_service .cont_wrap .cont_title strong {
	color: #333;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.56px;
	margin-top: 10px;
}

.eme_wrap .customer_service .cont_wrap .cont_title p {
	color: #4D4D4D;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -0.36px;
	margin-top: 10px;
}

.eme_wrap .customer_service .cont_wrap .item_list {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

.eme_wrap .customer_service .cont_wrap .item_list li {
	width: 200px;
}

.eme_wrap .customer_service .cont_wrap .item_list .thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 72px;
	border-radius: 120px;
	background-color: #fff;
}

.eme_wrap .customer_service .cont_wrap .item_list .info {
	margin-top: 18px;
}

.eme_wrap .customer_service .cont_wrap .item_list .info strong {
	color: #333;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-top: 18px;
}

.eme_wrap .customer_service .cont_wrap .item_list .info p {
	margin-top: 4px;
	color: #808080;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.9px;
}

.eme_wrap .award_wrap .hgroup {
	padding: 120px 0 40px;
}

.eme_wrap .award_wrap .cont_wrap {
	text-align: center;
}

.eme_wrap .award_wrap .cont_wrap .item_list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.eme_wrap .award_wrap .cont_wrap .item_list li {
	width: 280px;
	height: 240px;
	padding-top: 42px;
	padding-bottom: 24px;
	border-radius: 12px;
	box-sizing: border-box;
	background: #FFF;
	border: 1px solid #D9D9D9;
}

.eme_wrap .award_wrap .cont_wrap .item_list li .thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.eme_wrap .award_wrap .cont_wrap .item_list li h3 {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.9px;
	color: #333;
}

.eme_wrap .award_wrap .cont_wrap .item_list li .year {
	display: block;
	color: #B3B3B3;
	margin-top: 7px;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.28px;
}

.eme_wrap .award_wrap .cont_wrap .item_list li p {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.28px;
	margin-top: 32px;
}

.eme_wrap .size_wrap .item_list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	gap: 40px;
}

.eme_wrap .size_wrap .item_list li strong {
	display: flex;
	font-family: 'Pretendard';
	margin-top: 16px;
	color: #4D4D4D;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.32px;
}

.eme_wrap .size_wrap .item_list li:nth-child(1) strong {
	margin-left: 176px;
}

.eme_wrap .size_wrap .item_list li:nth-child(2) strong {
	margin-left: 206px;
}

.eme_wrap .size_wrap .item_list li:nth-child(3) strong {
	margin-left: 219px;
}

.eme_wrap .size_wrap p {
	text-align: center;
	font-size: 14px;
	color: #666;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.28px;
	margin-top: 40px;
}

.eme_wrap .packages_wrap .cont_wrap {
	margin: 0 auto;
}

.eme_wrap .packages_wrap .item_list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: left;
	gap: 20px;
	row-gap: 78px;
}

.eme_wrap .packages_wrap .item_list li {
	position: relative;
	width: 280px;
}

.eme_wrap .packages_wrap .item_list li .thumb {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 190px;
	background-color: #FAF9F7;
	border-radius: 12px;
	box-sizing: border-box;
}

.eme_wrap .packages_wrap .item_list li .thumb img {
	display: block;
}

.eme_wrap .packages_wrap .item_list li span {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -.32px;
	color: #000;
}

.eme_wrap .packages_wrap .item_list li .tips {
	color: #DC5E2D;
	font-size: 0;
	font-style: normal;
}

.eme_wrap .packages_wrap .item_list li .tips::before {
	display: inline-block;
	content: '*';
	font-size: 16px;
	font-weight: 500;
}

.eme_wrap .packages_wrap p {
	margin-top: 80px;
	text-align: center;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.28px;
	color: #666;
}

.eme_wrap.eme510 .brand_intro .visual {
	background: url("../images/2023product/eme510_thumb_01.png") 0 center no-repeat;
}

.eme_wrap.eme510 .premium_mat .cont_wrap .cont:nth-child(1) {
	background: url("../images/2023product/eme510_premium_thumb_01.png") 0 0 no-repeat;
}

.eme_wrap.eme521 .brand_intro .visual {
	background: url("../images/2023product/eme521_thumb_01.png") 0 center no-repeat;
}

.eme_wrap.eme521 .premium_mat .cont_wrap .cont:nth-child(1) {
	background: url("../images/2023product/eme510_premium_thumb_01.png") 0 0 no-repeat;
}

/*# sourceMappingURL=products_mate_pc.css.map */