@charset "UTF-8";

* {
  box-sizing: border-box;
}

:root {
  --color-black01: #000000E6;
  --color-black02: #000000CC;
  --color-black03: #333;
  --color-black04: #1a1a1a;
  --color-white01: #ffffff;
  --color-white02: #f9f9f9;
  --color-gray01: #F0F0F0;
  --color-gray02: #808080;
  --color-gray03: #00000080;
  --color-gray04: #e6e6e6;
  --color-gray05: #ccc;
  --color-beige: #F5F2EE;
}

.prd-detail-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.prd-main-visual {
  padding: 0;
}

.prd-main-visual .title {
  top: 80px;
}

.prd-main-visual .title span, .prd-main-visual .title strong {
  font-family: 'Pretendard';
  color: var(--color-black01);
}

.prd-main-visual .title .prd-desc {
  line-height: 34px;
  margin-bottom: 10px;
  font-family: 'Pretendard';
  font-size: 28px;
  font-weight: 400;
}

.prd-main-visual .title .prd-name {
  margin-bottom: 20px;
  font-family: 'Pretendard';
  font-size: 48px;
  font-weight: 700;
}

.prd-main-visual .title .prd-code {
  line-height: 28px;
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
}

.prd-main-visual .bg-img {
  border-radius: 0;
}

.prd-main-visual .award-img {
  right: 171.37px;
  bottom: 379.37px;
}

.prd-main-visual .cert-img {
  right: 65px;
  bottom: 379.37px;
}

.prd-main-summary {
  position: absolute;
  left: 50%;
  bottom: 80px;
  width: 1050px;
  height: 284px;
  margin-bottom: 0;
  /* padding: 40px 0; */
  border-radius: 20px;
  transform: translateX(-50%);
  background-color: var(--color-white01);
  font-family: 'Pretendard';
  z-index: 1;
}

.prd-main-summary .summary-list {
  gap: 0;
}

.prd-main-summary .summary-list li {
  flex: 1;
  padding: 0;
  margin-bottom: 0;
  width: 0;
}

.prd-main-summary .summary-list li:not(:first-child)::before {
  top: 27px;
  bottom: 21px;
}

.prd-main-summary .summary-item .text {
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-black02);
  letter-spacing: -0.36px;
}

.prd-main-summary .summary-item .text strong {
  line-height: 32px;
  color: var(--color-black02);
  letter-spacing: -0.44px;
}

.prd-goldmark, .prd-tempmanage {
  background-color: var(--color-beige);
  font-family: "Pretendard";
}

.prd-goldmark {
  padding: 0 65px 80px;
}

.prd-goldmark .goldmark-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1050px;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 20px;
  background-color: var(--color-white01);
}

.prd-goldmark .goldmark-inner .goldmark-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-title-wrap {
  margin-left: 27px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-title-wrap .goldmark-title {
  line-height: 42px;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-title-wrap .goldmark-badge {
  line-height: 28px;
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--color-gray01);
  color: var(--color-gray02);
  letter-spacing: -0.32px;
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prd-goldmark .goldmark-inner .goldmark-desc-title {
  margin-bottom: 5px;
}

.prd-goldmark .goldmark-inner .goldmark-desc-title,
.prd-goldmark .goldmark-inner .goldmark-desc {
  line-height: 20px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.26px;
  color: var(--color-gray02);
  text-align: center;
}

.prd-goldmark .goldmark-inner .goldmarkdesc-organ-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 12px;
  margin-top: 12px;
}

.prd-tempmanage {
  padding: 80px 65px;
}

.prd-tempmanage .section-title {
  line-height: 70px;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.9px;
  text-align: center;
}

.prd-sleephabit {
  position: relative;
  font-family: 'Pretendard';
}

.prd-sleephabit .title-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: var(--color-black01);
}

.prd-sleephabit .title-wrap .prd-desc {
  line-height: 34px;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.56px;
}

.prd-sleephabit .title-wrap .prd-title {
  margin: 10px 0 20px;
  line-height: 70px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.9px;
  text-align: center;
}

.prd-sleephabit .title-wrap .prd-detail-desc {
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
}

.prd-section {
  font-family: 'Prentendard';
}

.prd-section-cozy {
  padding: 160px 60px 50px;
  font-family: 'Prentendard';
}

.prd-section .section-title,
.prd-section-cozy .section-title,
.prd-section-sleep-solution .section-title {
  line-height: 70px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.9px;
  text-align: center;
}

.prd-section .title-label,
.prd-section-cozy .title-label,
.prd-section-sleep-solution .title-label {
  display: block;
  line-height: 28px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  text-align: center;
  color: var(--color-black01);
}

/* 온도의 개인화, 숙면의 최적화 */
.group-motion-temperatureControlTwin {
  border-radius: 20px;
  background-image: url("../../../images/sleep_2024/water/img_temp_control_2.jpg");
  background-repeat: no-repeat;
  background-size: 1050px 482px;
  background-position: top center;
}
.group-motion-temperatureControlTwin .animation-canvas {
  position: relative;
  height: 481px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature {
  padding-top: 152px;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .left-temperature > *,
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .right-temperature > * {
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans KR", "NanumGothicCoding", "Fira Mono", "Consolas", "Courier New", monospace;
  font-style: normal;
  line-height: 70px; /* 134.615% */
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .left-temperature > span,
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .right-temperature > span {
  font-size: 52px;
  font-weight: 800;
  letter-spacing: -1.04px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .left-temperature > small,
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .right-temperature > small {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.8px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > .text-box > p.t1 {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 133.333% */
  letter-spacing: -0.6px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > .text-box > p.t2 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 131.5%; /* 31.56px */
  letter-spacing: -0.48px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > .text-box > p.t2 > small {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.5%; /* 31.56px */
  letter-spacing: -0.48px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-overlay {
  opacity: 0;
}
.group-motion-temperatureControlTwin .animation-canvas[data-motion-visible=true] .layer-overlay {
  opacity: 1;
  transition: opacity 1200ms linear;
}

.temperature-control-desc {
  display: block;
  margin-top: 20px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.26px;
  text-align: center;
  color: var(--color-gray02);
}

/* 나만의 AI 숙면 솔루션 */
.prd-section-sleep-solution {
  padding: 80px 0;
}

/* 나만의 AI 숙면 솔루션 (수면 실험결과 그래프) */
.sleep-solution-content {
  padding: 0 60px;
  margin-top: 50px;
}

.group-AIsolutionData .top {
  text-align: center;
}

.group-AIsolutionData .title {
  font-family: 'Pretendard';
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.95px;
}

.group-AIsolutionData .description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.36px;
}

.group-AIsolutionData {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  height: 1021px;
  background-image: url("../../../images/sleep_2024/water/group-AIsolutionData-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 20px;
}
.group-AIsolutionData .mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.group-AIsolutionData .mid .tit-lbl {
  margin: 0 auto;
  display: flex;
  width: 290px;
  height: 38px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #70655D;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.44px;
}
.group-AIsolutionData .mid .wrap-charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  width: 539px;
  height: 170px;
  background-image: url("../../images/sleep_2024/water/wrap-charts-grid-lines.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 539px 170px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item {
  display: flex;
  flex-direction: column;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  height: 95px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 99px;
  border-radius: 10px 10px 0 0;
  background-color: #AE9684;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph > span {
  margin-bottom: 3px;
  color: #F7F7F7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.16px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph > strong {
  position: absolute;
  left: 0;
  right: 0;
  top: -23px;
  color: #FF5B00;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 13.449px;
  letter-spacing: -0.757px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph.anima {
  height: 100%;
  background-color: #F88748;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph.anima .arrow {
  position: absolute;
  left: -65px;
  top: 0;
  width: 37px;
  height: 43px;
  background-image: url("../../../images/sleep_2024/water/wrap-charts-arrow.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 37px 43px;
  transform: rotate(-125deg);
  transform-origin: top center;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .txt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.32px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(1) .chart > .graph:nth-child(1) {
  height: 74px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(2) .chart > .graph:nth-child(1) {
  height: 62px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(1) .chart > .graph:nth-child(1) {
  height: 50px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(2) .chart > .graph:nth-child(1) {
  height: 69px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(1) .chart > .graph.anima .arrow {
  top: 17px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(2) .chart > .graph.anima .arrow {
  top: 20px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(1) .chart > .graph.anima .arrow {
  top: 34px;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(2) .chart > .graph.anima .arrow {
  top: 18px;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima {
  height: 0;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima > span {
  opacity: 0;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima .arrow {
  height: 0;
  opacity: 0;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima > strong {
  opacity: 0;
  transform: translateY(15px);
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima {
  height: 100%;
  transition-delay: 0ms;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima > span {
  opacity: 1;
  transition-delay: 550ms;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima .arrow {
  height: 43px;
  opacity: 1;
  transition-delay: 800ms;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima > strong {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1000ms;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.group-AIsolutionData .mid .wrap-label {
  margin-left: 205px;
  padding: 8px 35.5px;
  display: flex;
  width: 543px;
  gap: 20px;
}
.group-AIsolutionData .mid .wrap-label > li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.32px;
}
.group-AIsolutionData .mid .wrap-label > li > span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #AE9684;
}
.group-AIsolutionData .mid .wrap-label > li.active > span {
  background-color: #F88748;
}
.group-AIsolutionData .bot p.disc {
  color: #808080;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.26px;
}
.group-AIsolutionData .bot p.disc sup.footnoteLink {
  line-height: normal;
}
.group-AIsolutionData .bot p.disc sup.footnoteLink > a {
  color: #808080;
  font-size: 9px;
  line-height: normal;
}

/* 나비엔 스마트 앱 */
.sleep-solution-information .sub-sec:not(.sleep-management) {
  margin: 50px 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.sleep-solution-information .sub-sec .sub-title {
  line-height: 42px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}

.sleep-solution-information .sleep-management .management-item {
  padding: 50px 33px 0;
  background-color: var(--color-white02);
}

.sleep-solution-information .sleep-management .management-item figcaption {
  margin-bottom: 30px;
  text-align: center;
}

.sleep-solution-information .sleep-management .text-notice {
  line-height: 20px;
  margin-top: 25px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: var(--color-gray02);
  text-align: center;
}

/* 나만의 AI 숙면 솔루션 (나비엔 스마트 하단 설명 박스) */
.navien-smart-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1050px;
  height: 161px;
  margin-top: 50px;
  border: 1px solid var(--color-gray04);
  border-radius: 20px;
  background-color: var(--color-white02);
}

.navien-smart-list {
  line-height: 28px;
  margin-left: 30px;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: var(--color-gray02);
}

.prd-section .section-header-order {
  margin-bottom: 50px;
}

.prd-section .section-header-order .title-label {
  line-height: 34px;
  margin-bottom: 5px;
  font-size: 28px;
  letter-spacing: -0.56px;
}

.water-management-information .water-management-change {
  padding: 50px;
}

/* 초슬림매트 */
.slim-type-information {
  min-height: 655px;
  padding: 53px 77px;
}

.slim-type-information .slim-type-point {
  margin-top: 239px;
}

.slim-type-information .slim-type-point .point-item {
  padding: 17px 18px;
}

.slim-type-information .slim-type-point .point-item .title {
  line-height: 28px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.56px;
  color: var(--color-black03);
  text-align: center;
}

/* 숙면매트 온수 전용 커버 */
.water-cover-information .cover-point-main {
  height: 607px;
  padding: 50px;
}
.allergy-care-content-wrap {
  position: absolute;
  z-index: 2;
}

.water-cover-information .cover-point-main .title {
  line-height: 42px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}

.water-cover-information .cover-point-main .description {
  margin: 8px 0 20px;
  font-size: 18px;
  letter-spacing: -0.36px;
}

.water-cover-information .cover-point-main .cover-figure {
  width: 100%;
}

.water-cover-information .anti-mite-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 433px;
  height: 300px;
  padding: 17px 18px;
  border-radius: 20px;
  background-color: var(--color-white01);
}

.water-cover-information .cover-point-main .license {
  margin: 0 0 10px;
  padding: 0;
  font-weight: 700;
  background-color: var(--color-white01);
  color: var(--color-gray02);
  text-align: center;
}

.water-cover-information .cover-point-main .text-point {
  margin-top: 49px;
  font-weight: 500;
}

.water-cover-information .cover-point-list {
  justify-content: space-between;
  margin-top: 50px;
}

.water-cover-information .cover-point-list li {
  flex: 1;
  width: 0;
}

.water-cover-information .cover-point-list .point-item .title {
  line-height: 28px;
  margin-top: 17px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
}

.water-cover-information .cover-point-list .point-item .title .label {
  line-height: 32px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.water-cover-information .water-mat-cover-desc {
  line-height: 20px;
  margin-top: 25px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: var(--color-gray02);
  text-align: center;
}

.prd-section .section-header-order .section-description {
  text-align: center;
}

.info-section .title-label {
  margin-bottom: 10px;
}

/* 다중 안전 시스템 */
.safe-system-information .safe-system-list .icon.high-temperature {
  background-position: -215px -216px;
}

/* 고객 감동 서비스 */
.navien-service-information {
  margin-top: 60px;
  padding: 40px 0;
  background-color: var(--color-white02);
}

.navien-service {
  padding-bottom: 50px;
}

.navien-service-information .warranty {
  width: 149px;
  height: 149px;
}

.navien-service-information .warranty img {
  margin: 0;
}

.navien-service-information .text {
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.18px;
}

.navien-service-information .text-2 {
  line-height: 42px;
  margin: 7px 0 10px;
  font-size: 28px;
  letter-spacing: -0.56px;
}

.navien-service-information .text-3 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
}

/* 수상 및 인증 */
.product-awards {
  padding-bottom: 60px;
}

.product-awards .section-header {
  padding-top: 0;
}

.product-awards .product-award-list {
  gap: 30px;
  margin-top: 60px;
}

.product-awards .product-award-list li {
  width: calc(50% - 15px);
}

.product-awards .product-award-list .award-item {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 140px;
  padding-left: 30px;
  padding-right: 0;
  gap: 0 28px;
}

.product-awards .product-award-list .award-item .logo {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
}

.product-awards .product-award-list .award-item .text-main {
  margin-bottom: 6px;
  font-size: 18px;
  letter-spacing: -0.36px;
  color: var(--color-black03);
}

.product-awards .product-award-list .award-item .text-sub {
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
}

/* 제품 스팩 */
.product-spec {
  padding-bottom: 0;
}

.product-spec .spec-size {
  margin-top: 50px;
  padding: 40px 45px;
}

.product-spec .spec-size .size-list {
  margin-top: 50px;
}

.product-spec .spec-title {
  font-size: 22px;
  letter-spacing: -0.44px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list .type-name {
  line-height: 32px;
  margin-top: 0;
  font-size: 22px;
  letter-spacing: -0.44px;
  color: var(--color-black03);
}

.product-spec .spec-detail {
  margin-top: 80px;
}

.product-spec .spec-detail .spec-detail-table th {
  line-height: 22px;
  padding-left: 20px;
  color: var(--color-black03);
}

.product-spec .spec-detail .spec-detail-table td {
  padding: 10px 20px;
}

.product-spec .spec-detail .spec-detail-table th small {
  font-size: 14px;
  letter-spacing: -0.28px;
}

.product-spec .spec-detail .spec-detail-table td .name,
.product-spec .spec-detail .spec-detail-table td .type {
  line-height: 22px;
  letter-spacing: -0.32px;
}

.product-spec .spec-detail .spec-detail-table .logo-kc {
  margin-top: 0;
  margin-right: 10px;
}

.product-spec .spec-detail .spec-detail-table .product-number {
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.info-section .text-notice li {
  line-height: 20px;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.product-spec .spec-detail .text-notice li::before {
  display: none;
}

/* 공통 */
.common {
  padding-top: 50px;
  border-radius: 10px;
}

.common-notice {
  padding: 50px;
}

.common-notice .title {
  line-height: 32px;
  font-size: 22px;
  letter-spacing: -0.44px;
}

.common-notice .text-notice {
  margin-top: 15px;
  color: var(--color-gray02);
}

.common-notice .text-notice li::before {
  display: none;
}

/* 각주 */
.footnote {
  margin-top: 50px;
  padding: 40px;
  border-radius: 10px;
}

.footnote-list {
  margin-bottom: 9px;
}

.footnote-list .footnote-item:not(:first-child) {
  margin-top: 20px;
}

.footnote-list .footnote-item .index-num {
  font-weight: 500;
  color: var(--color-black03);
}

.footnote-list .item-detail dt {
  color: var(--color-black03);
}

.footnote-list .item-detail dt, .footnote-list .item-detail dd {
  color: var(--color-black03);
}

.footnote-desc {
  align-self: flex-start;
  line-height: 13px;
  padding-left: 38px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  color: var(--color-gray02);
}