@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
}

:root {
  --color-black01: #000000E6;
  --color-black02: #000000CC;
  --color-black03: #333;
  --color-black04: #1a1a1a;
  --color-black05: #000;
  --color-black06: #4d4d4d;
  --color-black07: #202020;
  --color-white01: #ffffff;
  --color-white02: #f9f9f9;
  --color-gray01: #F0F0F0;
  --color-gray02: #808080;
  --color-gray03: #00000080;
  --color-gray04: #e6e6e6;
  --color-gray05: #ccc;
  --color-gray06: #d9d9d9;
  --color-gray07: #f7f7f7;
  --color-beige: #F5F2EE;
}

/* main visual */
.prd-main-visual {
  padding: 0;
}

.prd-main-visual .title {
  top: 10.668vw;
}

.prd-main-visual .title .prd-desc, .prd-main-visual .title .prd-name, .prd-main-visual .title .prd-code {
  color: var(--color-black04);
  font-family: 'Pretendard';
}

.prd-main-visual .title .prd-desc {
  line-height: 1.24em;
  margin-bottom: 0.2385em;
  font-size: 5.6vw;
  font-weight: 500;
}

.prd-main-visual .title .prd-name {
  line-height: 1.167em;
  margin-bottom: 0.6667em;
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: -0.015em;
}

.prd-main-visual .title .prd-code {
  line-height: 1.4em;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: 0.028em;
}

.prd-main-visual .bg-img {
  border-radius: 0;
  background-color: var(--color-beige);
}

.prd-main-visual .award-img {
  right: 5.334vw;
  bottom: 128.5494vw;
  width: 18.67vw;
  aspect-ratio: 0;
}

.prd-main-visual .cert-img {
  right: 5.334vw;
  bottom: 107.4801vw;
  width: 18.67vw;
  aspect-ratio: 0;
}

/* 제품 USP 요약 */
.prd-main-summary {
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 100%;
  margin-bottom: 0;
  padding: 0 20px;
  transform: translateX(-50%);
  z-index: 1;
}

.prd-main-summary .summary-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 15px;
}

.prd-main-summary .summary-list li {
  width: calc(50% - 7.5px);
}

.prd-main-summary .summary-item {
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--color-white01);
  text-align: center;
}

.prd-main-summary .summary-item .text {
  line-height: 21px;
  margin-bottom: 8px;
  font-family: 'Pretendard';
  font-weight: 500;
  letter-spacing: -0.28px;
  color: var(--color-black05);
}

.prd-main-summary .summary-item .text strong {
  line-height: 25.5px;
  margin-top: 2px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.34px;
  color: var(--color-black05);
}

/* 골드마크 인증 */
.prd-goldmark {
  padding: 0 20px 20px;
  background-color: var(--color-beige);
}

.prd-goldmark .goldmark-inner {
  padding: 30px 20px;
  border-radius: 20px;
  background-color: var(--color-white01);
}

.prd-goldmark .goldmark-inner .goldmark-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px 20px;
  border-bottom: 1px solid var(--color-gray06);
  gap: 0 16px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goodsleep-goldmark{
  width: 101px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-title {
  line-height: 21px;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: var(--color-black04);
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-badge {
  line-height: 15.4px;
  padding: 4.5px 6.36px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.22px;
  color: var(--color-gray02);
  background-color: var(--color-gray07);
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap {
  padding: 20px 0 0;
  text-align: center;
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmark-desc-title,
.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmark-desc {
  line-height: 16.8px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmark-desc {
  margin-bottom: 10px;
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmarkdesc-organ-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.35px 0;
  gap: 0 5.72px;
}

.prd-tempmanage {
  padding: 40px 20px;
  background-color: var(--color-beige);
}

.prd-tempmanage .section-title {
  margin-bottom: 50px;
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
  color: var(--color-black04);
  text-align: center;
}

/* 온도관리 불편함 */
.prd-sleephabit {
  position: relative;
}

.prd-sleephabit .title-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: var(--color-black04);
}

.prd-sleephabit .title-wrap .prd-desc {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.prd-sleephabit .title-wrap .prd-title  {
  margin: 8px 0 20px;
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.prd-sleephabit .title-wrap .prd-detail-desc {
  line-height: 21px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.prd-section {
  padding: 40px 0;
}

.prd-section .section-title {
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.prd-section .title-label {
  line-height: 21px;
  margin: 20px 0 30px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: var(--color-black04);
}

/* 온도의 개인화, 숙면의 최적화 */
.group-motion-temperatureControlTwin {
  border-radius: 20px;
  background-image: url("../../../images/sleep_2024/water/mobile/group-motion-temperatureControlTwin-layerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.group-motion-temperatureControlTwin .animation-canvas {
  position: relative;
  height: 66.6667vw;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature {
  padding-top: 94px;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .left-temperature > *,
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .right-temperature > * {
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans KR", "NanumGothicCoding", "Fira Mono", "Consolas", "Courier New", monospace;
  font-style: normal;
  line-height: normal;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .left-temperature > span,
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .right-temperature > span {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: -0.5px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .left-temperature > small,
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .right-temperature > small {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > img {
  width: 44.5px;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > .text-box > p.t1 {
  color: #F7F7F7;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 131.5%;
  letter-spacing: -0.064vw;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > .text-box > p.t2 {
  color: #F7F7F7;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 131.5%;
  letter-spacing: -0.064vw;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-temperature .center-thermometer > .text-box > p.t2 > small {
  color: #F7F7F7;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.5%;
  letter-spacing: -0.064vw;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.group-motion-temperatureControlTwin .animation-canvas .layer-overlay {
  opacity: 0;
}
.group-motion-temperatureControlTwin .animation-canvas[data-motion-visible=true] .layer-overlay {
  opacity: 1;
  transition: opacity 1200ms linear;
}

.temperature-control-desc {
  display: block;
  line-height: 16.8px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
  text-align: center;
}

/* 나만의 AI 숙면 솔루션 */
.sleep-solution-information .sleep-care {
  padding: 31px 12px 30px;
  background-color: var(--color-white01);
  height: 629px;
}

.autoPlayVideo {
  width: 100%;
}

/* 나만의 AI 숙면 솔루션 (수면 실험결과 그래프) */
.sleep-solution-content {
  margin-top: 80px;
}

.group-AIsolutionData {
  padding: 40px 20px 25.42px;
  display: flex;
  flex-direction: column;
  background-image: url("../../../images/sleep_2024/water/mobile/group-AIsolutionData-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 20px;
}
.group-AIsolutionData .top {
  text-align: center;
}
.group-AIsolutionData .title {
  font-size: 6.4vw;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.12vw; 
}
.group-AIsolutionData .description {
  line-height: 5.8667vw;
  margin-top: 5.3333vw;
  font-size: 4.2667vw;
  letter-spacing: -0.02rem;
}
.group-AIsolutionData .mid {
  display: flex;
  flex-direction: column;
  margin: 15.2vw 0 6.6667vw;
  gap: 5.3333vw;
}
.group-AIsolutionData .mid .tit-lbl {
  margin: 0 auto;
  display: flex;
  width: 36.8645vw;
  height: 4.8304vw;
  padding: 2.5424vw 0;
  justify-content: center;
  align-items: center;
  gap: 1.2712vw;
  border-radius: 2.5413vw;
  background: #70655D;
  color: #FFF;
  font-size: 3.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 4.2667vw;
  letter-spacing: -0.064vw;
}
.group-AIsolutionData .mid .wrap-charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6667vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.1333vw;
  width: 68.5333vw;
  height: 27.7333vw;
  background-image: url("../../../images/sleep_2024/water/mobile/wrap-charts-grid-lines.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 68.5333vw 27.7333vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item {
  display: flex;
  flex-direction: column;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 0.8vw;
  height: 16.8vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 14.4vw;
  border-radius: 1.2712vw 1.2712vw 0 0;
  background-color: #AE9684;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph > span {
  margin-bottom: 1.8667vw;
  color: #F7F7F7;
  text-align: center;
  font-size: 2.9333vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0293vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph > strong {
  position: absolute;
  left: 0;
  right: 0;
  top: -4vw;
  color: #FF5B00;
  text-align: center;
  font-size: 2.9333vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0963vw;
  white-space: nowrap;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph.anima {
  height: 100%;
  background-color: #F88748;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .chart > .graph.anima .arrow {
  position: absolute;
  left: -7.7333vw;
  top: 0;
  width: 4.8vw;
  height: 5.6vw;
  background-image: url("../../../images/sleep_2024/water/wrap-charts-arrow.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 4.8vw 5.6vw;
  transform: rotate(-125deg);
  transform-origin: top center;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines .item .txt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2vw;
  color: #333;
  font-size: 2.6667vw;
  font-style: normal;
  font-weight: 500;
  line-height: 4vw; /* 150% */
  letter-spacing: -0.0533vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(1) .chart > .graph:nth-child(1) {
  height: 14.9333vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(2) .chart > .graph:nth-child(1) {
  height: 13.8667vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(1) .chart > .graph:nth-child(1) {
  height: 10.9333vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(2) .chart > .graph:nth-child(1) {
  height: 12.8vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(1) .chart > .graph.anima .arrow {
  top: 1.3333vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(1) > .item:nth-child(2) .chart > .graph.anima .arrow {
  top: 1.8667vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(1) .chart > .graph.anima .arrow {
  top: 4.5333vw;
}
.group-AIsolutionData .mid .wrap-charts .grid-lines:nth-child(2) > .item:nth-child(2) .chart > .graph.anima .arrow {
  top: 3.2vw;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima {
  height: 0;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima > span {
  opacity: 0;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima .arrow {
  height: 0;
  opacity: 0;
}
.group-AIsolutionData .mid .animation-canvas .grid-lines > .item .chart > .graph.anima > strong {
  opacity: 0;
  transform: translateY(2.6667vw);
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima {
  height: 100%;
  transition-delay: 0ms;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima > span {
  opacity: 1;
  transition-delay: 550ms;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima .arrow {
  height: 5.6vw;
  opacity: 1;
  transition-delay: 800ms;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.group-AIsolutionData .mid .animation-canvas[data-motion-visible=true] .grid-lines > .item .chart > .graph.anima > strong {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1000ms;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.group-AIsolutionData .mid .wrap-label {
  margin-left: 4.8vw;
  display: flex;
  gap: 2.6667vw;
}
.group-AIsolutionData .mid .wrap-label > li {
  display: flex;
  align-items: center;
  gap: 1.3333vw;
  color: #808080;
  font-size: 2.9333vw;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5864vw;
  letter-spacing: -0.2019vw;
}
.group-AIsolutionData .mid .wrap-label > li > span {
  display: inline-block;
  width: 2.2883vw;
  height: 2.2883vw;
  border-radius: 50%;
  background-color: #AE9684;
}
.group-AIsolutionData .mid .wrap-label > li.active > span {
  background-color: #F88748;
}
.group-AIsolutionData .bot p.disc {
  color: #808080;
  text-align: center;
  font-size: 3.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.064vw;
}
.group-AIsolutionData .bot p.disc sup.footnoteLink {
  line-height: 0;
}
.group-AIsolutionData .bot p.disc sup.footnoteLink > a {
  color: #808080;
  font-size: 2.1333vw;
  line-height: 4.5333vw;
}

/* 나비엔 스마트 앱 */
.sleep-solution-information .sleep-management .management-item {
  padding: 48.54px 35px 0;
  align-items: center;
  gap: 12px;
}

.sleep-solution-information .sleep-management .management-item figcaption {
  width: 136px;
  text-align: center;
}

.sleep-solution-information .sub-sec .sub-title {
  line-height: 21px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.sleep-solution-information .sub-sec .sub-description {
  line-height: 16.8px;
  margin-top: 10px;
  color: var(--color-black03);
}

.sleep-solution-information .sleep-management li {
  width: 100%;
}

.sleep-solution-information .sleep-management .management-item img {
  width: 120px;
}

.sleep-solution-information .sleep-management .text-notice {
  margin-top: 20px;
  text-align: center;
}

.sleep-solution-information .sleep-management .text-notice li {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.sleep-solution-information .sleep-management > li:not(:first-child) {
  margin-top: 40px;
}

/* 나만의 AI 숙면 솔루션 (나비엔 스마트 하단 설명 박스) */
.navien-smart-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px 27.71px;
  border: 1px solid var(--color-gray04);
  border-radius: 20px;
  background-color: var(--color-white02);
  gap: 0 12px;
}

.navien-smart-frame .navien-smart-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-white01);
}

.navien-smart-frame .navien-smart-img-wrap img {
  width: 23px;
}

.navien-smart-frame .navien-smart-list .navien-smart-item {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

.navien-smart-frame .navien-smart-list .navien-smart-item:first-of-type {
  margin-bottom: 3px;
}

.section-header-order {
  text-align: center;
  margin-bottom: 30px;
}

/* 손쉬운 물 빼기 */
.water-management .section-header-order .title-label {
  line-height: 26px;
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: var(--color-black06);
}

.water-management .section-header-order .section-title {
  line-height: 34px;
  font-size: 26px;
  letter-spacing: -0.52px;
  color: var(--color-black04);
}

.water-management-information .water-management-change {
  padding: 20px 20px 25px;
}

/* 초슬림매트 */
.prd-section .section-header-order .title-label,
.info-section .section-header .title-label {
  line-height: 24px;
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.slim-type-information .slim-type-figure {
  background-color: var(--color-white01);
}

.slim-type-information .slim-type-point {
  margin: 212px 17px 40px;
  padding: 10px;
}

.slim-type-information .slim-type-point .point-item {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slim-type-information .slim-type-point .point-item .title {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.slim-type-information .slim-type-point .point-item img {
  width: 100%;
  aspect-ratio: 0;
  height: auto;
}


/* 숙면매트 온수 */
.water-cover-information .cover-point-main {
  padding: 45px 16px;
  aspect-ratio: 0;
}

.water-cover-information .cover-point-main .title {
  line-height: 30px;
  font-weight: 700;
}

.water-cover-information .cover-point-main .description {
  margin: 10px 0 30px;
}

.water-cover-information .anti-mite-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px 11px;
  border-radius: 10px;
  background-color: var(--color-white01);
}

.water-cover-information .cover-point-main .license {
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.28px;
  color: var(--color-gray02);
  background-color: var(--color-white01);
  text-align: center;
}

.water-cover-information .anti-mite-wrap .anti-mite-img-wrap {
  padding: 10px 54px;
}

.water-cover-information .cover-point-main .text-point {
  position: static;
  line-height: 21px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  white-space: nowrap;
}

.cover-point-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 27.5px;
  gap: 20px 0;
}

.cover-point-list li {
  width: calc(50% - 10px);
}

.cover-point-list .point-item .point-item-img-wrap {
  padding: 0 10px;
}

.cover-point-list .point-item .title {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
}

.cover-point-list .point-item .title .label {
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
}

.water-mat-cover-desc {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: var(--color-gray02);
}

/* 다중 안전 시스템 */
.safe-system .section-header-order .title-label {
  line-height: 26px;
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: var(--color-black06);
}

.safe-system .section-header-order .section-title{
  line-height: 34px;
  font-size: 26px;
  letter-spacing: -0.52px;
  color: var(--color-black04);
}

/* 나비엔 서비스 */
.info-section .section-title {
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.navien-service-information {
  flex-direction: row;
  justify-content: center;
  padding: 28px 32px;
  background-color: var(--color-white02);
  gap: 0 20px;
}

.navien-service-information .warranty {
  width: 76px;
  height: auto;
}

.navien-service-information .warranty img {
  width: 100%;
  height: auto;
  margin: 0;
}

.navien-service-information .text {
  color: var(--color-black07);
}

.navien-service-information .text-1 {
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  white-space: nowrap;
}

.navien-service-information .text-2 {
  line-height: 14px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.24px;
}

.navien-service-information .text-3 {
  line-height: 20px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

/* 수상 및 인증 */
.product-awards .product-award-list {
  padding: 5px 20px;
  border: 1px solid var(--color-gray06);
  border-radius: 10px;
}

.product-awards .product-award-list li {
  padding: 20px 0;
  border-bottom: 0.5px solid var(--color-gray06);
}

.product-awards .product-award-list li:not(:first-child) {
  margin-top: 0;
}

.product-awards .product-award-list li:last-of-type {
  border-bottom: 0;
}

.product-awards .product-award-list .award-item {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  gap: 0 17.75px;
}

.product-awards .product-award-list .award-item .logo {
  position: static;
  width: 82.5px;
  height: auto;
}

.product-awards .product-award-list .award-item .text-main.title {
  line-height: 18px;
  letter-spacing: -0.9px;
  word-break: normal;
}

.product-awards .product-award-list .award-item .text-sub {
  line-height: 18px;
  margin-top: 3px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: var(--color-gray02);
}

/* 제품 스펙 */
.product-spec {
  padding-bottom: 0;
}

.product-spec .spec-size {
  padding: 35.5px 0 34px;
}

.product-spec .spec-title {
  line-height: 24px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list {
  margin-top: 34.7px;
  justify-content: flex-start;
  align-items: stretch;
}

.product-spec .spec-size .size-list li {
  flex-direction: column;
}

.product-spec .spec-size .size-list li:first-of-type {
  width: 100%;
}

.product-spec .spec-size .size-list li:nth-of-type(2),
.product-spec .spec-size .size-list li:last-of-type {
  width: calc(50% - 10.82px)
}

.product-spec .spec-size .size-list li:nth-of-type(2) {
  align-items: flex-start;
  padding-left: 32.42px;
}

.product-spec .spec-size .size-list li:last-of-type {
  align-items: flex-start;
  margin-left: 21.63px;
  padding-right: 21.75px;
}

.product-spec .spec-size .size-list .boiler-img-wrap {
  width: 51.356%;
}

.product-spec .spec-size .size-list .type-img.boiler {
  width: 100%;
}

.product-spec .spec-size .size-list .type-name {
  margin-top: 31.8px;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list .type-name2,
.product-spec .spec-size .size-list .type-name3 {
  line-height: 20px;
  margin-top: 12.51px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.28px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list .type-name2 {
  padding-left: 63px;
}

.product-spec .spec-size .size-list .type-name3 {
  padding-left: 69px;
}

.product-spec .spec-size .size-list .mat-img-wrap {
  width: 103.5%;
}

.product-spec .spec-size .size-list .cover-img-wrap {
  width: 100%;
}

.product-spec .spec-size .size-list .type-img.mat,
.product-spec .spec-size .size-list .type-img.cover {
  width: 100%;
}

.product-spec .spec-detail {
  margin-top: 70px;
}

.product-spec .spec-detail .spec-detail-table th {
  padding: 18px 0;
  color: var(--color-black03);
}

.product-spec .spec-detail .spec-detail-table td {
  line-height: 11px;
  padding: 18px 0;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.06px;
}

.product-spec .spec-detail .spec-detail-table td .name {
  font-size: 11px;
  font-weight: 700;
}

.product-spec .spec-detail .spec-detail-table .product-number {
  font-weight: 500;
  letter-spacing: -0.22px;
}

.product-spec .spec-detail .spec-detail-table .logo-kc {
  display: inline-block;
  width: 9px;
  margin: 0;
  vertical-align: bottom;
}

.product-spec .spec-detail .text-notice {
  margin-top: 20px;
}

.product-spec .spec-detail .text-notice li {
  padding-left: 0;
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

.info-section .text-notice li::before {
  display: none;
}

/* 공통 */
.common {
  padding-top: 30px;
}

.common-notice {
  padding: 18px 22px;
  border: 1px solid var(--color-gray04);
  border-radius: 5px;
}

.info-section .text-notice li {
  padding-left: 0;
}

.common-notice .title {
  line-height: 14px;
  font-size: 14px;
  letter-spacing: -0.28px;
}

.common-notice .text-notice {
  margin: 10px 0 0;
  color: var(--color-gray02);
}

.common-notice .text-notice li {
  line-height: 11px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.22px;
}

/* 각주 */
.footnote {
  margin-top: 40px;
  padding: 20px 23px 20px 20px;
  border-radius: 10px;
  align-items: flex-start;
}

.footnote-list .footnote-item:not(:first-child) {
  margin-top: 20px;
}

.footnote-list .item-detail dt, .footnote-list .item-detail dd {
  line-height: 11px;
  font-size: 11px;
  letter-spacing: -0.22px;
  color: var(--color-black03);
}

.footnote-list .item-detail dd {
  font-weight: 400;
}

.sub-list ul li {
  margin-bottom: 4px;
}

.sub-list ul li:last-of-type {
  margin-bottom: 0;
}

.footnote-desc {
  line-height: 11px;
  margin-top: 9px;
  padding-left: 21px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.11px;
  color: var(--color-gray02);
}

.prd-section .text-notice li::before {
  display: none;
}