@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
}

:root {
  --color-black01: #000000E6;
  --color-black02: #000000CC;
  --color-black03: #333;
  --color-black04: #1a1a1a;
  --color-black05: #000;
  --color-black06: #4d4d4d;
  --color-black07: #202020;
  --color-white01: #ffffff;
  --color-white02: #f9f9f9;
  --color-gray01: #F0F0F0;
  --color-gray02: #808080;
  --color-gray03: #00000080;
  --color-gray04: #e6e6e6;
  --color-gray05: #ccc;
  --color-gray06: #d9d9d9;
  --color-gray07: #f7f7f7;
  --color-beige: #F5F2EE;
}

/* main visual */
.prd-main-visual {
  padding: 0;
}

.prd-main-visual .title {
  top: 10.668vw;
}

.prd-main-visual .title .prd-desc, .prd-main-visual .title .prd-name, .prd-main-visual .title .prd-code {
  color: var(--color-black04);
  font-family: 'Pretendard';
}

.prd-main-visual .title .prd-desc {
  line-height: 1.24em;
  margin-bottom: 0.2385em;
  font-size: 5.6vw;
  font-weight: 500;
}

.prd-main-visual .title .prd-name {
  line-height: 1.167em;
  margin-bottom: 0.6667em;
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: -0.015em;
}

.prd-main-visual .title .prd-code {
  line-height: 1.4em;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: 0.028em;
}

.prd-main-visual .bg-img {
  border-radius: 0;
  background-color: var(--color-beige);
}

.prd-main-visual .award-img {
  right: 5.334vw;
  bottom: 128.5494vw;
  width: 18.67vw;
  aspect-ratio: 0;
}

.prd-main-visual .cert-img {
  right: 5.334vw;
  bottom: 107.4801vw;
  width: 18.67vw;
  aspect-ratio: 0;
}

/* 제품 USP 요약 */
.prd-main-summary {
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 100%;
  margin-bottom: 0;
  padding: 0 20px;
  transform: translateX(-50%);
  z-index: 1;
}

.prd-main-summary .summary-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 15px;
}

.prd-main-summary .summary-list li {
  width: calc(50% - 7.5px);
}

.prd-main-summary .summary-item {
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--color-white01);
  text-align: center;
}

.prd-main-summary .summary-item .text {
  line-height: 21px;
  margin-bottom: 8px;
  font-family: 'Pretendard';
  font-weight: 500;
  letter-spacing: -0.28px;
  color: var(--color-black05);
}

.prd-main-summary .summary-item .text strong {
  line-height: 25.5px;
  margin-top: 2px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.34px;
  color: var(--color-black05);
}

/* 골드마크 인증 */
.prd-goldmark {
  padding: 0 20px 20px;
  background-color: var(--color-beige);
}

.prd-goldmark .goldmark-inner {
  padding: 30px 20px;
  border-radius: 20px;
  background-color: var(--color-white01);
}

.prd-goldmark .goldmark-inner .goldmark-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px 20px;
  border-bottom: 1px solid var(--color-gray06);
  gap: 0 16px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goodsleep-goldmark{
  width: 101px;
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-title {
  line-height: 21px;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: var(--color-black04);
}

.prd-goldmark .goldmark-inner .goldmark-header .goldmark-badge {
  line-height: 15.4px;
  padding: 4.5px 6.36px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.22px;
  color: var(--color-gray02);
  background-color: var(--color-gray07);
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap {
  padding: 20px 0 0;
  text-align: center;
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmark-desc-title,
.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmark-desc {
  line-height: 16.8px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmark-desc {
  margin-bottom: 10px;
}

.prd-goldmark .goldmark-inner .goldmark-desc-wrap .goldmarkdesc-organ-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.35px 0;
  gap: 0 5.72px;
}

.prd-tempmanage {
  padding: 40px 20px;
  background-color: var(--color-beige);
}

.prd-tempmanage .section-title {
  margin-bottom: 50px;
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
  color: var(--color-black04);
  text-align: center;
}

/* 온도관리 불편함 */
.prd-sleephabit {
  position: relative;
}

.prd-sleephabit .title-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: var(--color-black04);
}

.prd-sleephabit .title-wrap .prd-desc {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.prd-sleephabit .title-wrap .prd-title  {
  margin: 8px 0 20px;
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.prd-sleephabit .title-wrap .prd-detail-desc {
  line-height: 21px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.prd-section {
  padding: 40px 0;
}

.prd-section .section-title {
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.prd-section .title-label {
  line-height: 21px;
  margin: 20px 0 30px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: var(--color-black04);
}

/* 온도의 개인화, 숙면의 최적화 */
.temperature-control-information .figure-graph  {
  top: 46%;
  left: 50%;
  width: 93%;
  height: 66px;
  transform: translateX(-50%);
  clip-path: polygon(25px -5px, 286px -5px, 100% 100%, 0 100%)
}

.temperature-control-information .figure-graph .graph {
  align-items: flex-start;
  padding-left: 40px;
  border-top: 0;
}

.temperature-control-information .figure-graph .graph .temp {
  line-height: 25px;
  padding-top: 12px;
  font-family: 'Pretendard';
  font-size: 25px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.temperature-control-information .figure-graph .graph .temp::after {
  content: "ºC";
  top: 12px;
  left: 53px;
  width: 0;
  height: 0;
  border-radius: 0;
  border: 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.temperature-control-information .graph-label {
  position: absolute;
  left: 50%;
  bottom: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  text-align: center;
}

.temperature-control-information .graph-label .thermometer {
  width: 44px;
}

.temperature-control-information .graph-label .graph-label-text {
  line-height: 15.84px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: var(--color-gray07);
}


@keyframes graphUpLeft {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes graphUpRight {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.temperature-control-desc {
  display: block;
  line-height: 16.8px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
  text-align: center;
}

/* 나만의 AI 숙면 솔루션 */
.sleep-solution-information .sleep-care {
  padding: 31px 12px 30px;
  background-color: var(--color-white01);
  height: 629px;
}

.sleep-solution-information .sub-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sleep-solution-information .sub-sec .sleep-app {
  width: 79px;
  align-self: flex-end;
}

.sleep-solution-information .sub-sec .sleep-care-title {
  line-height: 21px;
  margin: 13.8px 0 2px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: var(--color-white01);
  text-align: center;
}

.sleep-solution-information .sub-sec .sleep-care-title .ram {
  font-weight: 600;
  color: #5EE9E4;
}

.sleep-solution-information .sub-sec .sleep-care-title .deep {
  font-weight: 600;
  color: #5CBBFF;
}

.sleep-solution-information .sub-sec .sleep-care-sub-title {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  text-align: center;
  color: var(--color-gray05);
}

.sleep-solution-information .sleep-care-graph {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 264px;
  margin-top: 16px;
}

.sleep-solution-information .sleep-care-graph .graph-label {
  line-height: 16px;
  margin-bottom: 10px;
  padding: 3px 24.5px;
  font-size: 12px;
  font-weight: 700;
  background-color: #f88748;
}

.sleep-solution-information .sleep-care-graph .graph-wrap {
  aspect-ratio: 0;
}

.sleep-solution-information .sleep-care-graph .graph-wrap .arrow {
  width: 9px;
  height: 18px;
  top: 67px;
}

.sleep-solution-information .sleep-care-graph .graph-wrap .arrow:first-of-type {
  left: 93px;
}

.sleep-solution-information .sleep-care-graph .graph-wrap .arrow + .arrow {
  left: 154px;
}

.sleep-solution-information .sleep-care-graph .graph-wrap .arrow:nth-of-type(3) {
  left: 224px;
}

.sleep-solution-information .sleep-care-graph .graph-wrap .arrowup {
  top: 43px;
  left: 247px;
  width: 9px;
  height: 18px;
  background: url('../../../images/sleep_2024/water/mobile/img_sleep_care_graph_arrow_up.png') no-repeat;
  background-size: contain;
}

@keyframes arrowUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.sleep-solution-information .sleep-care-graph .graph-wrap .arrowup {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.sleep-solution-information .sleep-care-graph .graph-wrap[data-motion-visible=true] .arrowup {
  opacity: 1;
  -webkit-animation: arrowUp 2s infinite ease-in-out;
          animation: arrowUp 2s infinite ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.sleep-solution-information .sleep-care-graph .graph-wrap .graph-item,
.sleep-solution-information .sleep-care-graph .graph-wrap img  {
  aspect-ratio: 0;
}

.sleep-solution-information .sleep-care .text-notice {
  margin-top: 24px;
  text-align: center;
}

.sleep-solution-information .sleep-care .text-notice li {
  line-height: 16.8px;
  padding-left: 0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray05);
}

.prd-section .text-notice li::before {
  display: none;
}

/* 나만의 AI 숙면 솔루션 (수면 실험결과 그래프) */
.sleep-solution-content {
  margin-top: 80px;
}

.sleep-solution-information .sub-sec:not(.sleep-management) {
  border-radius: 0;
}

.sleep-solution-information .sleep-quality {
  padding: 0;
  border: 0;
}

.sleep-solution-information .sleep-quality .sleep-quality-figure {
  width: 100%;
  margin-top: 0;
}

.sleep-solution-information .sleep-quality .sleep-quality-figure .figure-title-wrap {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 100%;
  color: var(--color-black04);
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}

.sleep-solution-information .sleep-quality .sleep-quality-figure .figure-title {
  position: static;
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
  color: var(--color-black04);
}

.sleep-solution-information .sleep-quality .sleep-quality-figure .figure-subtitle {
  line-height: 21px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.sleep-solution-information .sleep-quality .text-notice {
  position: absolute;
  bottom: 25.42px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
}

.sleep-solution-information .sleep-quality .text-notice li {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

/* 나비엔 스마트 앱 */
.sleep-solution-information .sleep-management .management-item {
  padding: 48.54px 35px 0;
  align-items: center;
  gap: 12px;
}

.sleep-solution-information .sleep-management .management-item figcaption {
  width: 136px;
  text-align: center;
}

.sleep-solution-information .sub-sec .sub-title {
  line-height: 21px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.sleep-solution-information .sub-sec .sub-description {
  line-height: 16.8px;
  margin-top: 10px;
  color: var(--color-black03);
}

.sleep-solution-information .sleep-management li {
  width: 100%;
}

.sleep-solution-information .sleep-management .management-item img {
  width: 120px;
}

.sleep-solution-information .sleep-management .text-notice {
  margin-top: 20px;
  text-align: center;
}

.sleep-solution-information .sleep-management .text-notice li {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.sleep-solution-information .sleep-management > li:not(:first-child) {
  margin-top: 40px;
}

/* 나만의 AI 숙면 솔루션 (나비엔 스마트 하단 설명 박스) */
.navien-smart-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px 27.71px;
  border: 1px solid var(--color-gray04);
  border-radius: 20px;
  background-color: var(--color-white02);
  gap: 0 12px;
}

.navien-smart-frame .navien-smart-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-white01);
}

.navien-smart-frame .navien-smart-img-wrap img {
  width: 23px;
}

.navien-smart-frame .navien-smart-list .navien-smart-item {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

.navien-smart-frame .navien-smart-list .navien-smart-item:first-of-type {
  margin-bottom: 3px;
}

.section-header-order {
  text-align: center;
  margin-bottom: 30px;
}

/* 손쉬운 물 빼기 */
.water-management .section-header-order .title-label {
  line-height: 26px;
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: var(--color-black06);
}

.water-management .section-header-order .section-title {
  line-height: 34px;
  font-size: 26px;
  letter-spacing: -0.52px;
  color: var(--color-black04);
}

.water-management-information .water-management-change {
  padding: 20px 20px 25px;
}

/* 초슬림매트 */
.prd-section .section-header-order .title-label,
.info-section .section-header .title-label {
  line-height: 24px;
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.slim-type-information .slim-type-figure {
  background-color: var(--color-white01);
}

.slim-type-information .slim-type-point {
  margin: 212px 17px 40px;
  padding: 10px;
}

.slim-type-information .slim-type-point .point-item {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slim-type-information .slim-type-point .point-item .title {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.slim-type-information .slim-type-point .point-item img {
  width: 100%;
  aspect-ratio: 0;
  height: auto;
}


/* 숙면매트 온수 */
.water-cover-information .cover-point-main {
  padding: 45px 16px;
  aspect-ratio: 0;
}

.water-cover-information .cover-point-main .title {
  line-height: 30px;
  font-weight: 700;
}

.water-cover-information .cover-point-main .description {
  margin: 10px 0 30px;
}

.water-cover-information .anti-mite-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px 11px;
  border-radius: 10px;
  background-color: var(--color-white01);
}

.water-cover-information .cover-point-main .license {
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.28px;
  color: var(--color-gray02);
  background-color: var(--color-white01);
  text-align: center;
}

.water-cover-information .anti-mite-wrap .anti-mite-img-wrap {
  padding: 10px 54px;
}

.water-cover-information .cover-point-main .text-point {
  position: static;
  line-height: 21px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  white-space: nowrap;
}

.cover-point-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 27.5px;
  gap: 20px 0;
}

.cover-point-list li {
  width: calc(50% - 10px);
}

.cover-point-list .point-item .point-item-img-wrap {
  padding: 0 10px;
}

.cover-point-list .point-item .title {
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
}

.cover-point-list .point-item .title .label {
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
}

.water-mat-cover-desc {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: var(--color-gray02);
}

/* 다중 안전 시스템 */
.safe-system .section-header-order .title-label {
  line-height: 26px;
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: var(--color-black06);
}

.safe-system .section-header-order .section-title{
  line-height: 34px;
  font-size: 26px;
  letter-spacing: -0.52px;
  color: var(--color-black04);
}

/* 나비엔 서비스 */
.info-section .section-title {
  line-height: 33.6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.navien-service-information {
  flex-direction: row;
  justify-content: center;
  padding: 28px 32px;
  background-color: var(--color-white01);
  gap: 0 20px;
}

.navien-service-information .warranty {
  width: 69px;
  height: 69px;
}

.navien-service-information .warranty img {
  width: 100%;
  height: auto;
  margin: 0;
}

.navien-service-information .text {
  color: var(--color-black07);
}

.navien-service-information .text-1 {
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.navien-service-information .text-2 {
  line-height: 14px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.24px;
}

.navien-service-information .text-3 {
  line-height: 20px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

/* 수상 및 인증 */
.product-awards .product-award-list {
  padding: 5px 20px;
  border: 1px solid var(--color-gray06);
  border-radius: 10px;
}

.product-awards .product-award-list li {
  padding: 20px 0;
  border-bottom: 0.5px solid var(--color-gray06);
}

.product-awards .product-award-list li:not(:first-child) {
  margin-top: 0;
}

.product-awards .product-award-list li:last-of-type {
  border-bottom: 0;
}

.product-awards .product-award-list .award-item {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  gap: 0 17.75px;
}

.product-awards .product-award-list .award-item .logo {
  position: static;
  width: 82.5px;
  height: auto;
}

.product-awards .product-award-list .award-item .text-main.title {
  line-height: 18px;
  letter-spacing: -0.9px;
  word-break: normal;
}

.product-awards .product-award-list .award-item .text-sub {
  line-height: 18px;
  margin-top: 3px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: var(--color-gray02);
}

/* 제품 스펙 */
.product-spec {
  padding-bottom: 0;
}

.product-spec .spec-size {
  padding: 35.5px 0 34px;
}

.product-spec .spec-title {
  line-height: 24px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list {
  margin-top: 34.7px;
  justify-content: flex-start;
}

.product-spec .spec-size .size-list li:first-of-type {
  width: 100%;
}

.product-spec .spec-size .size-list li:nth-of-type(2),
.product-spec .spec-size .size-list li:last-of-type {
  width: calc(50% - 10.82px)
}

.product-spec .spec-size .size-list li:nth-of-type(2) {
  align-items: flex-start;
  padding-left: 32.42px;
}

.product-spec .spec-size .size-list li:last-of-type {
  align-items: flex-start;
  margin-left: 21.63px;
}

.product-spec .spec-size .size-list .type-img.boiler {
  width: 171px;
}

.product-spec .spec-size .size-list .type-name {
  margin-top: 31.8px;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list .type-name2,
.product-spec .spec-size .size-list .type-name3 {
  line-height: 20px;
  margin-top: 12.51px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.28px;
  color: var(--color-black03);
}

.product-spec .spec-size .size-list .type-name2 {
  padding-left: 63px;
}

.product-spec .spec-size .size-list .type-name3 {
  padding-left: 69px;
}

.product-spec .spec-size .size-list .type-img.mat {
  width: 127px;
}

.product-spec .spec-size .size-list .type-img.cover {
  width: 132px;
}

.product-spec .spec-detail {
  margin-top: 70px;
}

.product-spec .spec-detail .spec-detail-table th {
  padding: 18px 0;
  color: var(--color-black03);
}

.product-spec .spec-detail .spec-detail-table td {
  line-height: 11px;
  padding: 18px 0;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.06px;
}

.product-spec .spec-detail .spec-detail-table td .name {
  font-size: 11px;
  font-weight: 700;
}

.product-spec .spec-detail .spec-detail-table .product-number {
  font-weight: 500;
  letter-spacing: -0.22px;
}

.product-spec .spec-detail .spec-detail-table .logo-kc {
  display: inline-block;
  width: 9px;
  margin: 0;
  vertical-align: bottom;
}

.product-spec .spec-detail .text-notice {
  margin-top: 20px;
}

.product-spec .spec-detail .text-notice li {
  padding-left: 0;
  line-height: 16.8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--color-gray02);
}

.info-section .text-notice li::before {
  display: none;
}

/* 공통 */
.common {
  padding-top: 30px;
}

.common-notice {
  padding: 18px 22px;
  border: 1px solid var(--color-gray04);
  border-radius: 5px;
}

.info-section .text-notice li {
  padding-left: 0;
}

.common-notice .title {
  line-height: 14px;
  font-size: 14px;
  letter-spacing: -0.28px;
}

.common-notice .text-notice {
  margin: 10px 0 0;
  color: var(--color-gray02);
}

.common-notice .text-notice li {
  line-height: 11px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.22px;
}

/* 각주 */
.footnote {
  margin-top: 40px;
  padding: 20px 23px 20px 20px;
  border-radius: 10px;
  align-items: flex-start;
}

.footnote-list .footnote-item:not(:first-child) {
  margin-top: 20px;
}

.footnote-list .item-detail dt, .footnote-list .item-detail dd {
  line-height: 11px;
  font-size: 11px;
  letter-spacing: -0.22px;
  color: var(--color-black03);
}

.footnote-list .item-detail dd {
  font-weight: 400;
}

.sub-list ul li {
  margin-bottom: 4px;
}

.sub-list ul li:last-of-type {
  margin-bottom: 0;
}

.footnote-desc {
  line-height: 11px;
  margin-top: 9px;
  padding-left: 21px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.11px;
  color: var(--color-gray02);
}